In [1]:
import pandas as pd
import glob, os

In [2]:
# The following is KL code to set up the ACCT/file dictionary. It reads files
# from disk to do this.
# Set up the dictionary to know from which files to grab ACCTs.  Infile 1 is
# the file that says which ACCTs are used to calculate which KPIs and
# also tells in which file an ACCT is located.
# THIS IS HARD CODED TO A SINGLE FILE WHICH MEANS THIS DICTIONARY IS USED
# FOR ALL YEARS.  THIS IS A PROBLEM ONLY IF ACCTS CHANGE FILES FROM ONE YEAR
# TO ANOTHER.
inpath='C:/Analytics/DATA911/Arkatechture/NCUA_Data/NCUA_Data_Final/PYE_Database/'
infile1='201706_TargetKPI_TargetAccts.csv'
dfdict=pd.read_csv(inpath+infile1, usecols=['Account','AcctName','TableName'],
                   skipinitialspace=True)
# Eliminate duplicate lines. Because some ACCTs are sought in the previous year,
# we have to eliminate duplicates.
dfdict=dfdict.drop_duplicates()
# For ease of searching, make all accounts lowercase.
dfdict['Account']=dfdict['Account'].str.upper()
# Make first two characters of file lowercase.
dfdict['TableName']=dfdict['TableName'].str.replace('FS','fs')
# Create empty dictionary for ACCT/file information.
fs22_dict={}
# Now loop through the file and set up the dictionary.
for i in range(dfdict.shape[0]):
    key=dfdict.iloc[i,0]
    keyelement=dfdict.iloc[i,2]
    fs22_dict[key]=keyelement

In [173]:
fs22_dict

{'ACCT_002': 'fs220A',
 'ACCT_003': 'fs220C',
 'ACCT_007': 'fs220',
 'ACCT_008': 'fs220',
 'ACCT_010': 'fs220',
 'ACCT_010A': 'fs220A',
 'ACCT_010B': 'fs220A',
 'ACCT_010C': 'fs220A',
 'ACCT_011A': 'fs220A',
 'ACCT_018': 'fs220',
 'ACCT_020G': 'fs220C',
 'ACCT_020G1': 'fs220I',
 'ACCT_020G2': 'fs220I',
 'ACCT_020H': 'fs220C',
 'ACCT_020P1': 'fs220I',
 'ACCT_020P2': 'fs220I',
 'ACCT_025A': 'fs220',
 'ACCT_025B': 'fs220',
 'ACCT_031B': 'fs220',
 'ACCT_041B': 'fs220',
 'ACCT_041C1': 'fs220I',
 'ACCT_041C2': 'fs220I',
 'ACCT_041D': 'fs220A',
 'ACCT_041E': 'fs220A',
 'ACCT_041F': 'fs220A',
 'ACCT_041G': 'fs220C',
 'ACCT_041G1': 'fs220I',
 'ACCT_041G2': 'fs220I',
 'ACCT_041H': 'fs220C',
 'ACCT_041I': 'fs220B',
 'ACCT_041M': 'fs220G',
 'ACCT_041P': 'fs220G',
 'ACCT_041P1': 'fs220I',
 'ACCT_041P2': 'fs220I',
 'ACCT_041T': 'fs220H',
 'ACCT_041U': 'fs220I',
 'ACCT_041V': 'fs220I',
 'ACCT_041W': 'fs220I',
 'ACCT_041X': 'fs220I',
 'ACCT_041Y': 'fs220I',
 'ACCT_042': 'fs220',
 nan: nan,
 'ACCT_045B': 'fs220B',
 'ACCT_058A': 'fs220A',
 'ACCT_071J': 'fs220I',
 'ACCT_083': 'fs220',
 'ACCT_084': 'fs220',
 'ACCT_1011A': 'fs220I',
 'ACCT_1011B': 'fs220I',
 'ACCT_1011C': 'fs220I',
 'ACCT_1011D': 'fs220I',
 'ACCT_1011E': 'fs220I',
 'ACCT_110': 'fs220A',
 'ACCT_115': 'fs220A',
 'ACCT_119': 'fs220A',
 'ACCT_120': 'fs220A',
 'ACCT_124': 'fs220A',
 'ACCT_125B': 'fs220A',
 'ACCT_125C': 'fs220A',
 'ACCT_125D': 'fs220A',
 'ACCT_125E': 'fs220A',
 'ACCT_126B': 'fs220A',
 'ACCT_126C': 'fs220A',
 'ACCT_126D': 'fs220A',
 'ACCT_126E': 'fs220A',
 'ACCT_131': 'fs220A',
 'ACCT_133': 'fs220A',
 'ACCT_135': 'fs220A',
 'ACCT_210': 'fs220A',
 'ACCT_300': 'fs220',
 'ACCT_311': 'fs220G',
 'ACCT_340': 'fs220',
 'ACCT_350': 'fs220A',
 'ACCT_370': 'fs220A',
 'ACCT_380': 'fs220',
 'ACCT_381': 'fs220A',
 'ACCT_385': 'fs220A',
 'ACCT_386': 'fs220',
 'ACCT_387': 'fs220',
 'ACCT_396': 'fs220A',
 'ACCT_400': 'fs220',
 'ACCT_400A': 'fs220',
 'ACCT_400B': 'fs220',
 'ACCT_400T': 'fs220H',
 'ACCT_440A': 'fs220G',
 'ACCT_548': 'fs220A',
 'ACCT_549': 'fs220A',
 'ACCT_550': 'fs220',
 'ACCT_550C1': 'fs220I',
 'ACCT_550C2': 'fs220I',
 'ACCT_550D': 'fs220C',
 'ACCT_550E': 'fs220C',
 'ACCT_550F': 'fs220C',
 'ACCT_550G': 'fs220C',
 'ACCT_550G1': 'fs220I',
 'ACCT_550G2': 'fs220I',
 'ACCT_550H': 'fs220C',
 'ACCT_550I': 'fs220B',
 'ACCT_550M': 'fs220G',
 'ACCT_550P': 'fs220G',
 'ACCT_550P1': 'fs220I',
 'ACCT_550P2': 'fs220I',
 'ACCT_550T': 'fs220H',
 'ACCT_551': 'fs220',
 'ACCT_551C1': 'fs220I',
 'ACCT_551D': 'fs220C',
 'ACCT_551E': 'fs220C',
 'ACCT_551F': 'fs220C',
 'ACCT_551G': 'fs220C',
 'ACCT_551G1': 'fs220I',
 'ACCT_551G2': 'fs220I',
 'ACCT_551H': 'fs220C',
 'ACCT_551I': 'fs220B',
 'ACCT_551M': 'fs220G',
 'ACCT_551P': 'fs220G',
 'ACCT_551P1': 'fs220I',
 'ACCT_551P2': 'fs220I',
 'ACCT_551T': 'fs220H',
 'ACCT_551C2': 'fs220I',
 'ACCT_564A': 'fs220A',
 'ACCT_564B': 'fs220A',
 'ACCT_602': 'fs220',
 'ACCT_607': 'fs220B',
 'ACCT_608': 'fs220B',
 'ACCT_613': 'fs220H',
 'ACCT_615': 'fs220B',
 'ACCT_618': 'fs220C',
 'ACCT_618A': 'fs220A',
 'ACCT_619': 'fs220C',
 'ACCT_619B': 'fs220G',
 'ACCT_630A': 'fs220B',
 'ACCT_657': 'fs220',
 'ACCT_658': 'fs220',
 'ACCT_659': 'fs220B',
 'ACCT_660A': 'fs220G',
 'ACCT_661A': 'fs220A',
 'ACCT_668': 'fs220',
 'ACCT_671': 'fs220',
 'ACCT_680': 'fs220B',
 'ACCT_681': 'fs220B',
 'ACCT_682': 'fs220B',
 'ACCT_690': 'fs220C',
 'ACCT_691': 'fs220C',
 'ACCT_691E': 'fs220G',
 'ACCT_698A': 'fs220H',
 'ACCT_698B': 'fs220I',
 'ACCT_703': 'fs220',
 'ACCT_704': 'fs220',
 'ACCT_704A': 'fs220',
 'ACCT_704B': 'fs220',
 'ACCT_704C': 'fs220',
 'ACCT_704C1': 'fs220',
 'ACCT_704D': 'fs220',
 'ACCT_704D2': 'fs220G',
 'ACCT_704E': 'fs220',
 'ACCT_705A': 'fs220',
 'ACCT_705B': 'fs220',
 'ACCT_706': 'fs220',
 'ACCT_707': 'fs220',
 'ACCT_708': 'fs220',
 'ACCT_708B': 'fs220',
 'ACCT_709': 'fs220B',
 'ACCT_710': 'fs220',
 'ACCT_712': 'fs220',
 'ACCT_713': 'fs220',
 'ACCT_713A': 'fs220A',
 'ACCT_714': 'fs220',
 'ACCT_714A': 'fs220A',
 'ACCT_715': 'fs220',
 'ACCT_715A': 'fs220A',
 'ACCT_716': 'fs220',
 'ACCT_716A': 'fs220A',
 'ACCT_718': 'fs220',
 'ACCT_718A': 'fs220A',
 'ACCT_719': 'fs220',
 'ACCT_720': 'fs220',
 'ACCT_720A': 'fs220',
 'ACCT_720B': 'fs220',
 'ACCT_720C': 'fs220',
 'ACCT_720D': 'fs220',
 'ACCT_720E': 'fs220',
 'ACCT_721': 'fs220',
 'ACCT_721A': 'fs220',
 'ACCT_721B': 'fs220',
 'ACCT_722': 'fs220',
 'ACCT_724B': 'fs220',
 'ACCT_725': 'fs220B',
 'ACCT_730A': 'fs220A',
 'ACCT_730B': 'fs220A',
 'ACCT_730C': 'fs220A',
 'ACCT_732': 'fs220B',
 'ACCT_733': 'fs220B',
 'ACCT_733A': 'fs220',
 'ACCT_736': 'fs220B',
 'ACCT_742C2': 'fs220',
 'ACCT_751': 'fs220',
 'ACCT_752': 'fs220B',
 'ACCT_753': 'fs220B',
 'ACCT_754': 'fs220B',
 'ACCT_755': 'fs220',
 'ACCT_756': 'fs220B',
 'ACCT_757': 'fs220B',
 'ACCT_758': 'fs220B',
 'ACCT_771': 'fs220',
 'ACCT_772': 'fs220B',
 'ACCT_773': 'fs220B',
 'ACCT_774': 'fs220B',
 'ACCT_775': 'fs220',
 'ACCT_776': 'fs220B',
 'ACCT_777': 'fs220B',
 'ACCT_778': 'fs220B',
 'ACCT_779': 'fs220C',
 'ACCT_781': 'fs220B',
 'ACCT_794': 'fs220',
 'ACCT_796E': 'fs220B',
 'ACCT_797E': 'fs220B',
 'ACCT_798': 'fs220',
 'ACCT_798A': 'fs220A',
 'ACCT_799': 'fs220B',
 'ACCT_799A': 'fs220',
 'ACCT_799A1': 'fs220',
 'ACCT_799C': 'fs220B',
 'ACCT_799C1': 'fs220',
 'ACCT_799C2': 'fs220',
 'ACCT_799D': 'fs220B',
 'ACCT_799I': 'fs220A',
 'ACCT_801': 'fs220B',
 'ACCT_811': 'fs220B',
 'ACCT_811A': 'fs220G',
 'ACCT_811B': 'fs220A',
 'ACCT_811C': 'fs220G',
 'ACCT_812': 'fs220B',
 'ACCT_813': 'fs220B',
 'ACCT_814': 'fs220B',
 'ACCT_814A': 'fs220A',
 'ACCT_814A1': 'fs220G',
 'ACCT_814E': 'fs220H',
 'ACCT_815': 'fs220B',
 'ACCT_816': 'fs220B',
 'ACCT_816A': 'fs220H',
 'ACCT_820A': 'fs220A',
 'ACCT_822': 'fs220A',
 'ACCT_825': 'fs220',
 'ACCT_860C': 'fs220',
 'ACCT_867A': 'fs220B',
 'ACCT_880A': 'fs220B',
 'ACCT_883A': 'fs220A',
 'ACCT_902': 'fs220',
 'ACCT_906A': 'fs220',
 'ACCT_908A': 'fs220',
 'ACCT_911': 'fs220',
 'ACCT_925': 'fs220B',
 'ACCT_925A': 'fs220A',
 'ACCT_931': 'fs220',
 'ACCT_940': 'fs220',
 'ACCT_945': 'fs220B',
 'ACCT_980': 'fs220',
 'ACCT_981': 'fs220B',
 'ACCT_997': 'fs220A'}

# Connect to SQLITE Database to sketch out an roadmap for what this could look like. In this database is all the fs220 tables seperate by year and quarter and all the fs220A tables seperate by year and quarter. As suggested by Pat, the next step would be to stack them using UNION I assume.

##################### START HERE TO FORMULATE SQL STATEMENTS (04/28/18) #########################

KL comment: As of 28 April 2018, this is the place to start.  For SQLite, we assume that we have a
dictionary of the form above -- i.e., if an ACCT is requested, the dictionary is used to look
up the file in which it resides, and the SQL statement is structured appropriately. We therefore
have to construct our SQL query such that in Python we are requesting from the appropriate table
the ACCTs for a particular date (quarter/year) and period (AC or PYE) and if we are requesting
info from banks or CUs.

In [4]:
# This is a cell to test the connection with our "final" Redshift data base.
# This imports the libraries and creates our database engine.
import sqlalchemy
import psycopg2
from sqlalchemy import create_engine
import pandas as pd
engine = create_engine('postgresql://arkauser:Password1@arkatestcluster.cpjywwj3yist.us-west-2.redshift.amazonaws.com:5439/awesomedatabase')

In [74]:
# This is a sample query for testing.
data_frame = pd.read_sql_query('SELECT * from fs220 WHERE year=2016;', engine)
data_frame.head()
# data_frame.shape

,orders,cu_num_date,quarter,year,cu_number,cycle_date,join_number,update_date,acct_007,acct_008,...,acct_1019,acct_1019a,acct_1019b,acct_1019c,acct_1019d,acct_1019e,acct_789a,acct_789a1,acct_789b,acct_789b1
0,718940,5_2016-03-31,03,2016,5,3/31/2016 0:00:00,6,5/3/2016 13:18:22,3285331.0,166822.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,718942,12_2016-03-31,03,2016,12,3/31/2016 0:00:00,11,5/2/2016 19:51:58,718200.0,516002.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,718944,16_2016-03-31,03,2016,16,3/31/2016 0:00:00,14,4/21/2016 16:31:18,0.0,2420.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,718946,22_2016-03-31,03,2016,22,3/31/2016 0:00:00,17,4/26/2016 13:43:13,3784030.0,411416.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,718948,28_2016-03-31,03,2016,28,3/31/2016 0:00:00,21,5/4/2016 10:28:35,13841041.0,2863988.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [89]:
############################################################
# Function JoinKPI joins the KPI calculated to the output
# dataframe with an appropriate name.
def JoinKPI(KPInum,dfout,dfaccts,KPIclass,KPInamedict):
    KPIname=KPInamedict[KPIclass]+str(KPInum)
    dfaccts=dfaccts[dfaccts.columns[[0,dfaccts.shape[1]-1]]]
    dfaccts=dfaccts.rename(columns={'KPI':KPIname})
    dfout=pd.merge(left=dfout, right=dfaccts,how='left')
    return dfout

In [128]:
############################################################
# Function KPI_stats will calculate the mean, standasrd deviation, and
# coeff of variation of the KPI we've calculated, and append this
# information to the output dataframe. 
def KPI_stats(dfoutKPI,dfaccts,descrip,KPInum,KPIclass):
    cvacct= dfaccts['KPI'].std()/dfaccts['KPI'].mean()*100  
    print('\nKPI',KPInum,':',KPIclass,'\n',KPIdescrip,
      '\n Mean:',dfaccts['KPI'].mean(),'\n StDev:',dfaccts['KPI'].std(),
      '\n CV:',cvacct,'\n Count:',dfaccts['KPI'].count())
# Append information to dataframe.
#tempdf=pd.DataFrame(columns=['KPI','KPI_Class','KPI_Mean','KPI_StDev',
#                             'KPI_CV','ACCTs'])
    tempseries = pd.Series(['','','','','','',''],
                index=['KPI','KPI_Class','KPI_Mean','KPI_StDev','KPI_CV',
                'KPI_Count','KPI_Descrip'])
    tempseries.ix['KPI']= KPInum
    tempseries.ix['KPI_Class']= KPIclass
    tempseries.ix['KPI_Mean']= dfaccts['KPI'].mean()
    tempseries.ix['KPI_StDev']= dfaccts['KPI'].std()
    tempseries.ix['KPI_CV']= cvacct
    tempseries.ix['KPI_Count']=dfaccts['KPI'].count()
    tempseries.ix['KPI_Descrip']=descrip
    dfoutKPI=dfoutKPI.append(tempseries,ignore_index=True)
    return dfoutKPI

In [198]:
###############################################################################
# KL: This function accepts a list of accounts, a year, and a dictionary of
# where different ACCTs are and returns a dataframe with the CU_NUMBER, and the
# ACCTs (and for the year desired) for all CUs. This gets an ACCT for the desired
# year, puts it into a df, and then starts joining each new ACCT to that dataframe.
########## NOTE: There is a cell belwo that is the foundation but is not in a function.
# KL: Now use a dictionary to create a query to extract what we need to calculate
# a KPI -- the first one that uses 997 from fs220A and 010 from fs220.
# Note that we will need a bank dictionary to do the same thing.
###############################################################################
# Establish the list of accounts and the quarter and year for which we want data.
# quarteryear='201706'
# acctlist=['997PYE','010AC']
def KPIdfs(quarteryear,acctlist,fs22_dict):
# Create a list of output names.
    acct_names=['CU_NUMBER']
    for acct in acctlist:
        acct_names.append('ACCT_'+acct)
#############################################
# The following is used as a test where only 2017 and 201703 are available.
# Change it operationally to (year-1)+'12'
    acyear="'"+quarteryear[0:4]+"'"
    year=int(quarteryear[0:4])
# Quotes are needed for SQL statements.
    acquarter="'"+quarteryear[4:6]+"'"
    pyeyear="'"+str(year-1)+"'"
    pyequarter="'12'"
    years_needed=[]
    quarters_needed=[]
# Set up list of dates for years.
    for acct in acctlist:
        if 'PYE' in acct:
            years_needed.append(pyeyear)
            quarters_needed.append(pyequarter)
        else:
            years_needed.append(acyear)
            quarters_needed.append(acquarter)
# Now get the accounts needed and strip off AC or PYE.
    for i in range(len(acctlist)):
        acctlist[i]=acctlist[i].replace('AC','')
        acctlist[i]=acctlist[i].replace('PYE','')
        acctlist[i]='ACCT_'+acctlist[i]
# Now loop through each of the ACCTs that are required and set up SQL statement
# using the apprpriate dates.
    for i,acct in enumerate(acctlist):
        querystring='SELECT '+ 'CU_NUMBER, ' + acct 
        querystring=querystring+' FROM ' + fs22_dict[acct]
# Now loop through the ACCTs requested to get the appropriate year.
        querystring += ' WHERE '+ 'year='+ years_needed[i] + ' AND ' + \
            'quarter='+ quarters_needed[i]+';'
        dfsql = pd.read_sql_query(querystring, engine)
        dfsql[['cu_number']]=dfsql[['cu_number']].astype(int).astype(str)
        dfsql=dfsql.drop_duplicates()
# I now have a df with the desired info. Create a master df.
        if i ==0:
            dfKPI=dfsql
        else:
            dfKPI = pd.merge(left=dfKPI, right=dfsql,how='left',left_on='cu_number',right_on='cu_number')
    dfKPI.columns=acct_names
# Return this df.
    return dfKPI

In [181]:
data_frame = pd.read_sql_query('SELECT CU_NUMBER, ACCT_659 from fs220B;', engine)
data_frame

        cu_number   acct_659
0             5.0      294.0
1            12.0   157733.0
2            16.0    12525.0
3            22.0   224744.0
4            28.0  1278913.0
5            37.0        0.0
6            42.0        0.0
7            48.0    56710.0
8            53.0    51735.0
9            62.0        0.0
10           75.0        0.0
11           78.0    83990.0
12           80.0  1919717.0
13           82.0  1879927.0
14           90.0     1671.0
15           92.0     1514.0
16          107.0    12666.0
17          110.0    10262.0
18          118.0        0.0
19          120.0   457825.0
20          135.0   155162.0
21          146.0    19329.0
22          149.0        0.0
23          151.0  1737624.0
24          153.0        0.0
25          158.0     3211.0
26          162.0   586707.0
27          167.0   222889.0
28          169.0        0.0
29          176.0  1489217.0
...           ...        ...
225729    96707.0     8920.0
225730    96718.0      535.0
225731    96722.0   145542.0
225732    96737.0        0.0
225733    96750.0    73008.0
225734    96755.0   373483.0
225735    96761.0   324135.0
225736    96768.0    98453.0
225737    96787.0        0.0
225738    96796.0     5251.0
225739    96800.0      379.0
225740    96812.0        0.0
225741    97052.0    94273.0
225742    97055.0    93833.0
225743    97063.0        0.0
225744    97068.0   797015.0
225745    97071.0    18338.0
225746    97076.0   441193.0
225747    97078.0    20349.0
225748    97083.0        0.0
225749    97085.0  1385616.0
225750    97089.0   624825.0
225751    97092.0        0.0
225752    97094.0    71511.0
225753    97096.0    43971.0
225754    97098.0   103702.0
225755    97100.0     4780.0
225756    97102.0    11255.0
225757    97104.0    57377.0
225758    97106.0   337034.0

[225759 rows x 2 columns]

In [199]:
############## MAIN BODY OF PROGRAM ###########################
# This will calculate all KPIs defined for the desired year and return them
# in a df.  Multiple years will be appended.
# First get identifier information on each CU.
fspath='C:/Analytics/DATA911/Arkatechture/NCUA_Data/NCUA_Data_Final/PYE_Database/'
ACprefix='201706_'
dfout=pd.read_csv(fspath+ACprefix+'foicu.csv',
      usecols=['CU_NUMBER','JOIN_NUMBER','CU_NAME','CITY','STATE','ZIP_CODE'],
      dtype=str, skipinitialspace=True)
# dfstats will have summary statistics on each KPI
dfstats=pd.DataFrame(columns=['KPI','KPI_Class','KPI_Mean','KPI_StDev',
                               'KPI_CV','KPI_Count','KPI_Descrip'],index=None)
# Now set up a variable name descriptor dictionary so out put names
# are a bit more descriptive.
KPInamedict = {'Capital Adequacy':'CapAdeq','Asset Quality':'AsstQual',
               'Earnings':'Earnings','Asset/Liability Management':'AstLiaMgmt',
               'Productivity':'Product','Other Ratios':'OthRatio',
               'Other Delinquency Ratios':'OthDlqRat',
               'Real Estate Loan Delinquency':'RELnDeliq',
               'Miscellaneous Loan Loss Ratios':'MiscLnLsRat',
               'Specialized Lending Ratios':'SpecLndRat',
               'Real Estate Lending Ratios':'RELndRat',
               'Miscellaneous Ratios':'MiscRatio'}
# Get ACCTs that might be used in Arkatechture searches.These will be part of
# the output file. NOTE: WHEN SPECIFYING ACCTS TO GRAB, THE PERIOD FOR 
# WHICH THEY ARE DESIRED -- AC OR PYE -- MUST BE PART OF THE ACCT NAME.
# Specify the most recent year as the one from which we will get our 
# query fields.
###################### CHANGE THE FOLLOWING TO GET A DIFFERENT DATE ################
quarteryear='201706'
####################################################################################
acctlist=['083AC','997AC','010AC','025BAC','018AC','131AC']
# AC is the current year and must be passed to KPIdfs
dfaccts=KPIdfs(quarteryear, acctlist,fs22_dict)
dfaccts=dfaccts.rename(columns = {'ACCT_083AC':'Members','ACCT_997AC':'NetWorth',
          'ACCT_010AC':'Assets','ACCT_025BAC':'LoansLeases','ACCT_018AC':'DeposShars',
          'ACCT_131AC':'FeeInc'})
dfout=pd.merge(left=dfout, right=dfaccts,how='left')
dfout[['Members', 'NetWorth', 'Assets', 'LoansLeases', 'DeposShars', 'FeeInc']] = \
    dfout[['Members', 'NetWorth', 'Assets', 'LoansLeases', 'DeposShars', 'FeeInc']].astype(int)
# Now get all the KPIs.
# Now Get KPIs and attach them to the output file.
#......................................................
# KPI 1: Capital Adequacy: Get data frame with desired ACCTs. 997, 010
KPInum=1
KPIclass='Capital Adequacy'
KPIdescrip='Page 1 Net Worth/Total Assets'
# The following are the ACCTs needed and the period for which they are
# needed.  These should be lowercase.
acctlist=['997AC','010AC']
# NOTE: AC is the year/quarter for which we want KPIs
dfaccts=KPIdfs(quarteryear,acctlist,fs22_dict)
# Protect against division by zero -- drop rows if denominator = 0.
# Note everything is now upper case.
dfaccts = dfaccts.drop(dfaccts[dfaccts['ACCT_010AC'] == 0].index)
# NOTE: Returned dataframe has capital ACCTs as columns.
dfaccts['KPI']=dfaccts['ACCT_997AC']/dfaccts['ACCT_010AC']*100
dfout=JoinKPI(KPInum,dfout,dfaccts,KPIclass,KPInamedict)
dfstats=KPI_stats(dfstats,dfaccts,KPIdescrip,KPInum,KPIclass)
#########################
print('Completed KPI',KPInum)
#......................................................
# KPI 2: Capital Adequacy: 041B/997
KPInum=2
KPIclass='Capital Adequacy'
KPIdescrip='Page 1 Total Delinquent Loans/Net Worth'
acctlist=['041BAC','997AC']
dfaccts=KPIdfs(quarteryear,acctlist,fs22_dict)
# Protect against division by zero -- drop rows if denominator = 0.
dfaccts = dfaccts.drop(dfaccts[dfaccts['ACCT_997AC'] == 0].index)
# NOTE: Returned dataframe has capital ACCTs as columns.
dfaccts['KPI']=dfaccts['ACCT_041BAC']/dfaccts['ACCT_997AC']*100
dfout=JoinKPI(KPInum,dfout,dfaccts,KPIclass,KPInamedict)
dfstats=KPI_stats(dfstats,dfaccts,KPIdescrip,KPInum,KPIclass)
#########################
print('Completed KPI',KPInum)
#......................................................
# KPI 5: Delinquent Loans/Total Loans  041B, 025B
KPInum=5
KPIclass='Asset Quality'
KPIdescrip='Page 2 Delinquent Loans/Total Loans'
acctlist=['041BAC','025BAC']
dfaccts=KPIdfs(quarteryear,acctlist,fs22_dict)
# Protect against division by zero -- drop rows if denominator = 0.
dfaccts = dfaccts.drop(dfaccts[dfaccts['ACCT_025BAC'] == 0].index)
# NOTE: Returned dataframe has capital ACCTs as columns.
dfaccts['KPI']=(dfaccts['ACCT_041BAC']/dfaccts['ACCT_025BAC'])*100
dfout=JoinKPI(KPInum,dfout,dfaccts,KPIclass,KPInamedict)
dfstats=KPI_stats(dfstats,dfaccts,KPIdescrip,KPInum,KPIclass)
#########################
print('Completed KPI',KPInum)
#......................................................
# KPI 9: Delinquent Loans / Assets  041B, 010
KPInum=9
KPIclass='Asset Quality'
KPIdescrip='Page 3 Delinquent Loans / Assets'
acctlist=['041BAC','010AC']
dfaccts=KPIdfs(quarteryear,acctlist,fs22_dict)
# Protect against division by zero -- drop rows if denominator = 0.
dfaccts = dfaccts.drop(dfaccts[dfaccts['ACCT_010AC'] == 0].index)
# NOTE: Returned dataframe has capital ACCTs as columns.
dfaccts['KPI']=(dfaccts['ACCT_041BAC']/dfaccts['ACCT_010AC'])*100
dfout=JoinKPI(KPInum,dfout,dfaccts,KPIclass,KPInamedict)
dfstats=KPI_stats(dfstats,dfaccts,KPIdescrip,KPInum,KPIclass)
#########################
print('Completed KPI',KPInum)
#......................................................
# KPI 10: Return on Average Assets - 661A, 0101
KPInum=10
KPIclass='Earnings'
KPIdescrip='Page 3 Return on Average Assets'
acctlist=['661AAC','010AC','010PYE']
dfaccts=KPIdfs(quarteryear,acctlist,fs22_dict)
# Protect against division by zero -- drop rows if denominator = 0.
dfaccts = dfaccts.drop(dfaccts[dfaccts['ACCT_010AC']+dfaccts['ACCT_010PYE']== 0].index)
# NOTE: Returned dataframe has capital ACCTs as columns.
dfaccts['KPI']=(dfaccts['ACCT_661AAC']/((dfaccts['ACCT_010AC']+dfaccts['ACCT_010PYE'])/2))*100
dfout=JoinKPI(KPInum,dfout,dfaccts,KPIclass,KPInamedict)
dfstats=KPI_stats(dfstats,dfaccts,KPIdescrip,KPInum,KPIclass)
#########################
print('Completed KPI',KPInum)
#......................................................
# KPI 12: Gross Income / Average Assets - 115, 131, 659, 010
KPInum=12
KPIclass='Earnings'
KPIdescrip='Page 3 Gross Income / Average Assets'
acctlist=['115AC','131AC','659AC','010AC','010PYE']
dfaccts=KPIdfs(quarteryear,acctlist,fs22_dict)
# Protect against division by zero -- drop rows if denominator = 0.
dfaccts = dfaccts.drop(dfaccts[dfaccts['ACCT_010AC']+dfaccts['ACCT_010PYE']== 0].index)
# NOTE: Returned dataframe has capital ACCTs as columns.
dfaccts['KPI']=((dfaccts['ACCT_115AC']+dfaccts['ACCT_131AC']+dfaccts['ACCT_659AC'])/
       ((dfaccts['ACCT_010AC']+dfaccts['ACCT_010PYE'])/2))*100
dfout=JoinKPI(KPInum,dfout,dfaccts,KPIclass,KPInamedict)
dfstats=KPI_stats(dfstats,dfaccts,KPIdescrip,KPInum,KPIclass)
#########################
print('Completed KPI',KPInum)
#......................................................
# KPI 13: Yield on Average Loans - 110, 119, 025b
KPInum=13
KPIclass='Earnings'
KPIdescrip='Page 3 Yield on Average Loans'
acctlist=['110AC','119AC','025BAC','025BPYE']
dfaccts=KPIdfs(quarteryear,acctlist,fs22_dict)
# Protect against division by zero -- drop rows if denominator = 0.
dfaccts = dfaccts.drop(dfaccts[dfaccts['ACCT_025BAC']+dfaccts['ACCT_025BPYE']== 0].index)
# NOTE: Returned dataframe has capital ACCTs as columns.
dfaccts['KPI']=((dfaccts['ACCT_110AC']-dfaccts['ACCT_119AC']) /
       ((dfaccts['ACCT_025BAC']+dfaccts['ACCT_025BPYE'])/2))*100
dfout=JoinKPI(KPInum,dfout,dfaccts,KPIclass,KPInamedict)
dfstats=KPI_stats(dfstats,dfaccts,KPIdescrip,KPInum,KPIclass)
#########################
print('Completed KPI',KPInum)
#......................................................
# KPI 15: Fee and Other Operating Income / Average Assets - 131, 659, 010
KPInum=15
KPIclass='Earnings'
KPIdescrip='Page 4 Fee and Other Operating Income / Average Assets'
acctlist=['131AC','659AC','010AC','010PYE']
dfaccts=KPIdfs(quarteryear,acctlist,fs22_dict)
# Protect against division by zero -- drop rows if denominator = 0.
dfaccts = dfaccts.drop(dfaccts[dfaccts['ACCT_010AC']+dfaccts['ACCT_010PYE']== 0].index)
# NOTE: Returned dataframe has capital ACCTs as columns.
dfaccts['KPI']=((dfaccts['ACCT_131AC']+dfaccts['ACCT_659AC']) /
       ((dfaccts['ACCT_010AC']+dfaccts['ACCT_010PYE'])/2))*100
dfout=JoinKPI(KPInum,dfout,dfaccts,KPIclass,KPInamedict)
dfstats=KPI_stats(dfstats,dfaccts,KPIdescrip,KPInum,KPIclass)
#########################
print('Completed KPI',KPInum)
#......................................................
# KPI 26: Total Loans / Total Shares  025B, 018
KPInum=26
KPIclass='Asset/Liability Management'
KPIdescrip='Page 7 Total Loans / Total Shares'
acctlist=['025BAC','018AC']
dfaccts=KPIdfs(quarteryear,acctlist,fs22_dict)
# Protect against division by zero -- drop rows if denominator = 0.
dfaccts = dfaccts.drop(dfaccts[dfaccts['ACCT_018AC'] == 0].index)
# NOTE: Returned dataframe has capital ACCTs as columns.
dfaccts['KPI']=(dfaccts['ACCT_025BAC']/dfaccts['ACCT_018AC'])*100
dfout=JoinKPI(KPInum,dfout,dfaccts,KPIclass,KPInamedict)
dfstats=KPI_stats(dfstats,dfaccts,KPIdescrip,KPInum,KPIclass)
#########################
print('Completed KPI',KPInum)
#......................................................
# KPI 27: Total Loans / Total Assets  025B, 010
KPInum=27
KPIclass='Asset/Liability Management'
KPIdescrip='Page 7 Total Loans / Total Assets'
acctlist=['025BAC','010AC']
dfaccts=KPIdfs(quarteryear,acctlist,fs22_dict)
# Protect against division by zero -- drop rows if denominator = 0.
dfaccts = dfaccts.drop(dfaccts[dfaccts['ACCT_010AC'] == 0].index)
# NOTE: Returned dataframe has capital ACCTs as columns.
dfaccts['KPI']=(dfaccts['ACCT_025BAC']/dfaccts['ACCT_010AC'])*100
dfout=JoinKPI(KPInum,dfout,dfaccts,KPIclass,KPInamedict)
dfstats=KPI_stats(dfstats,dfaccts,KPIdescrip,KPInum,KPIclass)
#########################
print('Completed KPI',KPInum)
#......................................................
# KPI 40: Market (Share) Growth - 018(AC), 018(PYE)
KPInum=40
KPIclass='Other Ratios'
KPIdescrip='Page 10 Market (Share) Growth'
acctlist=['018AC','018PYE']
dfaccts=KPIdfs(quarteryear,acctlist,fs22_dict)
# Protect against division by zero -- drop rows if denominator = 0.
dfaccts = dfaccts.drop(dfaccts[dfaccts['ACCT_018PYE'] == 0].index)
# NOTE: Returned dataframe has capital ACCTs as columns.
dfaccts['KPI']=((dfaccts['ACCT_018AC']-dfaccts['ACCT_018PYE']) / 
       dfaccts['ACCT_018PYE'])*100
dfout=JoinKPI(KPInum,dfout,dfaccts,KPIclass,KPInamedict)
dfstats=KPI_stats(dfstats,dfaccts,KPIdescrip,KPInum,KPIclass)
#########################
print('Completed KPI',KPInum)
#......................................................
# KPI 41: Loan Growth - 025B(AC), 025B(PYE)
KPInum=41
KPIclass='Other Ratios'
KPIdescrip='Page 10 Loan Growth'
acctlist=['025BAC','025BPYE']
dfaccts=KPIdfs(quarteryear,acctlist,fs22_dict)
# Protect against division by zero -- drop rows if denominator = 0.
dfaccts = dfaccts.drop(dfaccts[dfaccts['ACCT_025BPYE'] == 0].index)
# NOTE: Returned dataframe has capital ACCTs as columns.
dfaccts['KPI']=((dfaccts['ACCT_025BAC']-dfaccts['ACCT_025BPYE']) /
       dfaccts['ACCT_025BPYE'])*100
dfout=JoinKPI(KPInum,dfout,dfaccts,KPIclass,KPInamedict)
dfstats=KPI_stats(dfstats,dfaccts,KPIdescrip,KPInum,KPIclass)
#########################
print('Completed KPI',KPInum)
#......................................................
# KPI 42: Asset Growth - 010(AC), 010(PYE)
KPInum=42
KPIclass='Other Ratios'
KPIdescrip='Page 10 Asset Growth'
acctlist=['010AC','010PYE']
dfaccts=KPIdfs(quarteryear,acctlist,fs22_dict)
# Protect against division by zero -- drop rows if denominator = 0.
dfaccts = dfaccts.drop(dfaccts[dfaccts['ACCT_010PYE'] == 0].index)
# NOTE: Returned dataframe has capital ACCTs as columns.
dfaccts['KPI']=((dfaccts['ACCT_010AC']-dfaccts['ACCT_010PYE']) /
       dfaccts['ACCT_010PYE'])*100
dfout=JoinKPI(KPInum,dfout,dfaccts,KPIclass,KPInamedict)
dfstats=KPI_stats(dfstats,dfaccts,KPIdescrip,KPInum,KPIclass)
#########################
print('Completed KPI',KPInum)
# Now round results and write the result to a .csv
dfout=dfout.round(2)
dfout.to_csv(path_or_buf='C:/Analytics/DATA911/Arkatechture/NCUA_Data/RedShiftPullDown.csv')
dfstats.to_csv(path_or_buf='C:/Analytics/DATA911/Arkatechture/NCUA_Data/RedShiftPullDown_Stats.csv')

KPI 1 : Capital Adequacy
 Page 1 Net Worth/Total Assets
 Mean: 13.019816086256553
 StDev: 6.537140115875826
 CV: 50.20915865913263
 Count: 5815
Completed KPI 1

KPI 2 : Capital Adequacy
 Page 1 Total Delinquent Loans/Net Worth
 Mean: 6.590996626303323
 StDev: 29.451101123330893
 CV: 446.83835834170446
 Count: 5815
Completed KPI 2

KPI 5 : Asset Quality
 Page 2 Delinquent Loans/Total Loans
 Mean: 1.587976534400033
 StDev: 4.203297671213036
 CV: 264.6952004741758
 Count: 5805
Completed KPI 5

KPI 9 : Asset Quality
 Page 3 Delinquent Loans / Assets
 Mean: 0.7218841381706449
 StDev: 1.3774125177830756
 CV: 190.80797664755886
 Count: 5815
Completed KPI 9

KPI 10 : Earnings
 Page 3 Return on Average Assets
 Mean: 0.1298547312338032
 StDev: 1.3494512413652344
 CV: 1039.200673355174
 Count: 5797
Completed KPI 10

KPI 12 : Earnings
 Page 3 Gross Income / Average Assets
 Mean: 2.220767129931269
 StDev: 0.8235143903618712
 CV: 37.082428826626156
 Count: 5797
Completed KPI 12

KPI 13 : Earnings
 Page 3 Yield on Average Loans
 Mean: 2.837898980790283
 StDev: 1.0232946929183189
 CV: 36.05817895016676
 Count: 5794
Completed KPI 13

KPI 15 : Earnings
 Page 4 Fee and Other Operating Income / Average Assets
 Mean: 0.4973382540810907
 StDev: 0.4930901675923626
 CV: 99.14583556485573
 Count: 5797
Completed KPI 15

KPI 26 : Asset/Liability Management
 Page 7 Total Loans / Total Shares
 Mean: 62.57577083614766
 StDev: 23.369056531158137
 CV: 37.345215598460854
 Count: 5812
Completed KPI 26

KPI 27 : Asset/Liability Management
 Page 7 Total Loans / Total Assets
 Mean: 53.62427189767563
 StDev: 19.724835176118145
 CV: 36.783408852164065
 Count: 5815
Completed KPI 27

KPI 40 : Other Ratios
 Page 10 Market (Share) Growth
 Mean: 3.4042169754334077
 StDev: 7.565601609112669
 CV: 222.24205048356103
 Count: 5797
Completed KPI 40

KPI 41 : Other Ratios
 Page 10 Loan Growth
 Mean: 2.1059233375589135
 StDev: 12.883250261937764
 CV: 611.7625476752357
 Count: 5794
Completed KPI 41

KPI 42 : Other Ratios
 Page 10 Asset Growth
 Mean: 3.1177628568196627
 StDev: 6.810644838474758
 CV: 218.44653205670986
 Count: 5797
Completed KPI 42

In [172]:
fs22_dict['ACCT_659']

'fs220B'

In [125]:
# dfout
# dfaccts
# dfaccts.dtypes
# dfout.dtypes
dfout

,CU_NUMBER,JOIN_NUMBER,CU_NAME,CITY,STATE,ZIP_CODE,Members,NetWorth,Assets,LoansLeases,DeposShars,FeeInc
0,1,2,MORRIS SHEPPARD TEXARKANA,TEXARKANA,TX,75501,1286,918708,7881705,6010232,6952876,15947
1,5,6,FIRST CASTLE,Covington,LA,70433-7149,6937,5879836,68245754,57429111,61534425,274432
2,6,7,THE NEW ORLEANS FIREMEN'S,METAIRIE,LA,70004,26478,13213701,163124785,124245129,147377879,735309
3,12,11,FRANKLIN TRUST,HARTFORD,CT,06114,7615,4707559,45347998,21413092,42082117,510364
4,13,12,EFCU FINANCIAL,BATON ROUGE,LA,70816-4213,38690,37023787,382282927,329323207,330791559,1432950
5,16,14,WOODMEN,OMAHA,NE,68102,1111,1227782,9284004,3592922,8042322,20705
6,19,16,NEW HAVEN TEACHERS,New Haven,CT,06510,1440,2675664,9845274,1066595,7152014,5655
7,22,17,WATERBURY CONNECTICUT TEACHER,Waterbury,CT,06722,18380,32093855,238122555,166078655,204796366,127594
8,26,19,FARMERS,JACKSONVILLE,FL,32218,1308,1880534,14103682,4622846,12067906,33721
9,28,21,CENTRIS,OMAHA,NE,68137-3503,95575,55556169,681142623,599750908,556398557,5085528
10,36,25,BRIDGEPORT FAIRFIELD TEACHERS,Bridgeport,CT,06604,828,1549707,5988314,2158557,4438607,2809
11,42,29,FD COMMUNITY,Waterbury,CT,06708,8395,7367462,77812883,53948662,70063416,279896
12,47,30,FARGO PUBLIC SCHOOLS,FARGO,ND,58102,2581,4855205,39549320,17224471,34311555,39232
13,48,31,EAGLE EXPRESS,JACKSON,MS,39205,4117,12754316,61879190,18403558,50463685,90474
14,51,32,STATE EMPLOYEES,ALBANY,NY,12206,354607,251562762,-2147483648,2040352210,-2147483648,8669308
15,53,33,MOTION,LINDEN,NJ,07036,7699,4317696,71920481,53806812,67519293,244279
16,60,35,SIOUX FALLS,Sioux Falls,SD,57103,27862,30829476,265462084,133134263,235931245,833741
17,62,36,FIRST CLASS,ALLENTOWN,PA,18109,2570,4840944,30142512,21158730,25287325,32395
18,75,40,LONG ISLAND CITY POSTAL EMPLOYEES,LONG ISLAND CIT,NY,11101-7848,303,630478,3108685,112212,2472393,164
19,77,41,SERVICE FIRST,SIOUX FALLS,SD,57103,16959,10864015,156549753,112231369,147186162,1299331
20,78,42,BAY RIDGE,BROOKLYN,NY,11214,8139,16883494,200008056,176304244,180676059,79887
21,79,43,CAMPUS,BATON ROUGE,LA,70898,37708,51722833,614916066,448138375,560740272,2263187
22,82,46,FIRST ATLANTIC,EATONTOWN,NJ,07724-2210,19256,20054398,236058380,157581967,213231278,496712
23,90,49,POST GAZETTE,CLINTON,PA,15026,1513,5049607,11579724,5499447,6364561,8748
24,98,54,NIAGARA FALLS TEACHERS,NIAGARA FALLS,NY,14304-3150,1504,1753072,12742962,3684509,10986016,1837
25,107,57,KEMBA ROANOKE,SALEM,VA,24153,5778,9944234,62184503,20061720,51655216,95178
26,108,58,KEMBA CHARLESTON,Dunbar,WV,25064-2705,4468,8131711,39985028,17146559,31603695,33928
27,110,59,ITALO-AMERICAN,GLENDALE,NY,11385-7057,559,2475978,20131414,13626303,17503219,1679
28,112,60,ESSEX COUNTY NJ EMPLOYEES,Newark,NJ,07102-1705,2069,774486,7039906,2655331,6241459,6231
29,118,61,THE PARTNERSHIP,Washington,DC,20036,10279,13320195,157295550,92029234,143725900,221226
...,...,...,...,...,...,...,...,...,...,...,...,...
5785,97066,18075,ST JOE VALLEY,ST MARIES,ID,83861,1160,487149,8083993,4454149,7462088,16201
5786,97068,16728,CHRISTIAN COMMUNITY,SAN DIMAS,CA,91773-9001,30224,78112648,634107877,520956541,550125649,708366
5787,97069,21043,SAN FRANCISCO FIRE,SAN FRANCISCO,CA,94118,66269,104956819,1263118747,889586131,1153700735,1709046
5788,97071,10039,MONTEREY,MONTEREY,CA,93942,18522,33061107,232946651,137074075,197286617,1599337
5789,97073,4547,NORTHWEST CHRISTIAN,NAMPA,ID,83686,5643,5581054,55811170,28470770,50096126,168086
5790,97076,3427,WINSOUTH,GADSDEN,AL,35904-1935,42019,23167130,263678492,177249849,241031945,1269328
5791,97077,16242,"EMERALD CREDIT UNION, INC.",GARFIELD HTS,OH,44125,5894,4083486,42559961,21488149,38167472,386650
5792,97078,15511,BSE,Cleveland,OH,44130-3315,2880,1373865,17408693,6156037,15861712,46276
5793,97079,15660,"POSTAL FAMILY CREDIT UNION, INC.",CINCINNATI,OH,45250-0403,6962,8100325,60993311,23924486,52714813,113764
5794,97083,16921,LANDMARK,Fairfield,AL,35064-0150,3433,5700617,41640130,29156304,36670198,278416
5795,97084,15785,DUPAGE,Naperville,IL,60567,34730,27627105,350265890,213107287,319374337,975428
5796,97085,3203,SILVER STATE SCHOOLS FAMILY,LAS VEGAS,NV,89112-0037,52298,61290565,731859579,503810033,667816676,2528365
5797,97086,15757,ABRI,Romeoville,IL,60446-5345,27299,28938555,324416815,192674564,296573771,759682
5798,97089,22699,MCT,Port Neches,TX,77651,20446,28707097,266225998,183008698,231760816,940985
5799,97091,18902,WHITEHALL,Columbus,OH,43213,2655,1972387,18731911,8130746,16681233,54887
5800,97092,11926,COMMUNITY UNITED,Strongsville,OH,44136,2170,1838440,11727893,6181874,9869390,52709
5801,97093,4071,SAFEAMERICA,PLEASANTON,CA,94588,35515,34694206,433432771,353708969,397480778,837372
5802,97094,15388,SCHOOL EMPLOYEES LORAIN COUNTY,Elyria,OH,44035,12714,16509044,153691663,54819918,136716544,509553
5803,97095,15092,COMMONWEALTH,Bourbonnais,IL,60914-0380,10490,7988527,81847971,62771898,74166969,217226
5804,97096,17004,FRESNO POLICE DEPARTMENT,FRESNO,CA,93728-3430,3063,9536994,49427873,20520105,39530512,86891
5805,97097,12402,ACCESS,BROADVIEW,IL,60155,5953,6105394,50435238,24589492,44192644,231135
5806,97098,5050,EASTEX,Evadale,TX,77615,9529,8390130,79023643,50645989,69883641,545853
5807,97099,22848,CTECU,Bellaire,TX,77402-0430,1779,5082409,35468277,8621308,30280333,4791
5808,97100,15701,AURORA POLICEMEN,AURORA,IL,60505,1681,2209705,16426135,3449445,14197986,38551
5809,97101,1025,GLENDALE AREA SCHOOLS,GLENDALE,CA,91208,11331,48488136,355726345,70426389,306197719,97597
5810,97102,10341,LATAH,MOSCOW,ID,83843,6988,8042582,94852994,51449763,88377214,266923
5811,97103,1784,ALLIANCE,LUBBOCK,TX,79464-4970,21081,35893417,243658045,167814267,190966259,1646831
5812,97104,16057,"IH CREDIT UNION, INC.",SPRINGFIELD,OH,45502-9069,21266,50304253,307708847,173497466,195577425,1126186
5813,97105,15278,DAY-MET,Dayton,OH,45413,9016,8983484,94807055,72263475,81745139,288684
5814,97106,1158,GENFED FINANCIAL,Akron,OH,44312,24045,37110214,233346587,156599554,195659964,1125973

In [81]:
print(acct_names)

['CU_NUMBER', '997PYE', '010AC']

In [88]:
dfKPI

     CU_NUMBER  ACCT_997PYE    ACCT_010AC
0            1     912858.0  7.881705e+06
1            6   13065760.0  1.631248e+08
2           13   34990511.0  3.822829e+08
3           19    2669295.0  9.845274e+06
4           26    1870424.0  1.410368e+07
5           36    1579451.0  5.988314e+06
6           47    4784239.0  3.954932e+07
7           51  242277263.0  3.550874e+09
8           60   29609931.0  2.654621e+08
9           75     632743.0  3.108685e+06
10          78   18989759.0  2.000081e+08
11          82   19553854.0  2.360584e+08
12         107    9900982.0  6.218450e+07
13         110    2332478.0  2.013141e+07
14         118   13429759.0  1.572956e+08
15         120    9706252.0  1.054562e+08
16         135    5926176.0  7.466464e+07
17         146     450089.0  5.226526e+06
18         150   39704405.0  3.942977e+08
19         153     159575.0  5.884170e+05
20         162   12462731.0  1.699389e+08
21         167   31769108.0  3.107530e+08
22         169     692188.0  2.085568e+06
23         176  197196536.0  1.077934e+09
24         181     487063.0  2.452179e+06
25         195     814522.0  1.055568e+07
26         198   12658689.0  4.735088e+07
27         200    2462735.0  9.557191e+06
28         216    6112053.0  7.823418e+07
29         224   20202444.0  1.413833e+08
...        ...          ...           ...
8666     96707    6345551.0  4.317474e+07
8667     96718     957498.0  4.703871e+06
8668     96722    6993334.0  9.774427e+07
8669     96737    2958870.0  1.698636e+07
8670     96750    6757278.0  8.793564e+07
8671     96755   20832574.0  2.091192e+08
8672     96761   12730460.0  1.522946e+08
8673     96768   10235380.0  1.322923e+08
8674     96787      52184.0  2.516240e+05
8675     96796    2926888.0  1.313804e+07
8676     96800     125890.0  7.892690e+05
8677     96808    5911547.0  2.756249e+07
8678     96821     321057.0  7.634580e+05
8679     97053    2564666.0  2.128870e+07
8680     97059   42326055.0  2.579567e+08
8681     97066     458346.0  8.083993e+06
8682     97069   99285889.0  1.263119e+09
8683     97073    5416251.0  5.581117e+07
8684     97077    3945337.0  4.255996e+07
8685     97079    7994900.0  6.099331e+07
8686     97084   26520696.0  3.502659e+08
8687     97086   28842347.0  3.244168e+08
8688     97091    1962899.0  1.873191e+07
8689     97093   33975550.0  4.334328e+08
8690     97095    7849618.0  8.184797e+07
8691     97097    6105394.0  5.043524e+07
8692     97099    5087718.0  3.546828e+07
8693     97101   47109700.0  3.557263e+08
8694     97103   34562575.0  2.436580e+08
8695     97105    8874883.0  9.480706e+07

[5797 rows x 3 columns]