In [3]:
# This program connects to an AWS Redshift Database for credict unions and 
# banks. It then formulates and executes an SQL statement to enable financial
# institution Key Performance Indicators (KPIs) to be calculated.  These are
# stored in a csv file for subseqeunt use in visualsation.
# Install libraries.
import pandas as pd
import glob, os

In [4]:
# The following is KL code to set up the variable/file dictionary for banks.
# It reads files from disk to do this.
# Set up the dictionary to know from which files to grab variables.  Infile 1 is
# the file that says which variables are used to calculate which KPIs and
# also tells in which file an ACCT is located.
# THIS IS HARD CODED TO A SINGLE FILE WHICH MEANS THIS DICTIONARY IS USED
# FOR ALL YEARS.  THIS IS A PROBLEM ONLY IF ACCTS CHANGE FILES FROM ONE YEAR
# TO ANOTHER.
inpath='C:/Analytics/DATA911/Arkatechture/FDIC_Data/'
infile1='bank_account_dictionary_functional.csv'
dfdict=pd.read_csv(inpath+infile1, usecols=['AccountDesc','Account','TableName'],
                   skipinitialspace=True)
# Eliminate duplicate lines. Because some ACCTs are sought in the previous year,
# we have to eliminate duplicates.
dfdict=dfdict.drop_duplicates()
# For ease of searching, make all accounts lowercase.
dfdict['Account']=dfdict['Account'].str.lower()
# Create empty dictionary for ACCT/file information.
FDIC_dict={}
# Now loop through the file and set up the dictionary.
for i in range(dfdict.shape[0]):
    key=dfdict.iloc[i,1]
    keyelement=dfdict.iloc[i,2]
    FDIC_dict[key]=keyelement

In [5]:
FDIC_dict
# dfdict

{'asset': 'assets_liabilities',
 'asset5': 'assets_liabilities',
 'dep': 'assets_liabilities',
 'eq': 'assets_liabilities',
 'eqtot': 'assets_liabilities',
 'igltrad': 'income_expense',
 'iinscom': 'additional',
 'iinsoth': 'additional',
 'iinvfee': 'additional',
 'intinc': 'income_expense',
 'iserfee': 'additional',
 'lnlsgr': 'net_loans',
 'netinc': 'income_expense',
 'nonii': 'income_expense',
 'p3asset': 'past_due'}

In [6]:
# This is a cell to create the connection with our "final" Redshift data base.
# This imports the libraries and creates our database engine.
import sqlalchemy
import psycopg2
from sqlalchemy import create_engine
import pandas as pd
engine = create_engine('postgresql://arkauser:Password1@arkatestcluster.cpjywwj3yist.us-west-2.redshift.amazonaws.com:5439/awesomedatabase')

In [74]:
# This is a sample query for testing.
data_frame = pd.read_sql_query('SELECT * from fs220 WHERE year=2016;', engine)
data_frame.head()
# data_frame.shape

,orders,cu_num_date,quarter,year,cu_number,cycle_date,join_number,update_date,acct_007,acct_008,...,acct_1019,acct_1019a,acct_1019b,acct_1019c,acct_1019d,acct_1019e,acct_789a,acct_789a1,acct_789b,acct_789b1
0,718940,5_2016-03-31,03,2016,5,3/31/2016 0:00:00,6,5/3/2016 13:18:22,3285331.0,166822.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,718942,12_2016-03-31,03,2016,12,3/31/2016 0:00:00,11,5/2/2016 19:51:58,718200.0,516002.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,718944,16_2016-03-31,03,2016,16,3/31/2016 0:00:00,14,4/21/2016 16:31:18,0.0,2420.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,718946,22_2016-03-31,03,2016,22,3/31/2016 0:00:00,17,4/26/2016 13:43:13,3784030.0,411416.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,718948,28_2016-03-31,03,2016,28,3/31/2016 0:00:00,21,5/4/2016 10:28:35,13841041.0,2863988.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [7]:
############################################################
# Function JoinKPI joins the KPI calculated to the output
# dataframe with an appropriate name.
def JoinKPI(KPInum,dfout,dfaccts,KPIclass,KPInamedict):
    KPIname=KPInamedict[KPIclass]+str(KPInum)
    dfaccts=dfaccts[dfaccts.columns[[0,dfaccts.shape[1]-1]]]
    dfaccts=dfaccts.rename(columns={'KPI':KPIname})
    dfout=pd.merge(left=dfout, right=dfaccts,how='left')
    return dfout

In [8]:
############################################################
# Function KPI_stats will calculate the mean, standasrd deviation, and
# coeff of variation of the KPI we've calculated, and append this
# information to the output dataframe. 
def KPI_stats(dfoutKPI,dfaccts,descrip,KPInum,KPIclass):
    cvacct= dfaccts['KPI'].std()/dfaccts['KPI'].mean()*100  
    print('\nKPI',KPInum,':',KPIclass,'\n',KPIdescrip,
      '\n Mean:',dfaccts['KPI'].mean(),'\n StDev:',dfaccts['KPI'].std(),
      '\n CV:',cvacct,'\n Count:',dfaccts['KPI'].count())
# Append information to dataframe.
#tempdf=pd.DataFrame(columns=['KPI','KPI_Class','KPI_Mean','KPI_StDev',
#                             'KPI_CV','ACCTs'])
    tempseries = pd.Series(['','','','','','',''],
                index=['KPI','KPI_Class','KPI_Mean','KPI_StDev','KPI_CV',
                'KPI_Count','KPI_Descrip'])
    tempseries.ix['KPI']= KPInum
    tempseries.ix['KPI_Class']= KPIclass
    tempseries.ix['KPI_Mean']= dfaccts['KPI'].mean()
    tempseries.ix['KPI_StDev']= dfaccts['KPI'].std()
    tempseries.ix['KPI_CV']= cvacct
    tempseries.ix['KPI_Count']=dfaccts['KPI'].count()
    tempseries.ix['KPI_Descrip']=descrip
    dfoutKPI=dfoutKPI.append(tempseries,ignore_index=True)
    return dfoutKPI

In [9]:
###############################################################################
# KL: This function accepts a list of accounts, a year, and a dictionary of
# where different ACCTs are and returns a dataframe with the CU_NUMBER, and the
# ACCTs (and for the year desired) for all CUs. This gets an ACCT for the desired
# year, puts it into a df, and then starts joining each new ACCT to that dataframe.
########## NOTE: There is a cell belwo that is the foundation but is not in a function.
# KL: Now use a dictionary to create a query to extract what we need to calculate
# a KPI -- the first one that uses 997 from fs220A and 010 from fs220.
# Note that we will need a bank dictionary to do the same thing.
###############################################################################
# Establish the list of accounts and the quarter and year for which we want data.
# quarteryear='201706'
def KPIdfs(quarteryear,acctlist,FDIC_dict):
# Create a list of output names.
    acct_names=['fed_rssd']
    for acct in acctlist:
        acct_names.append(acct)
#############################################
# The following is used as a test where only 2017 and 201703 are available.
# Change it operationally to (year-1)+'12'
    acyear="'"+quarteryear[0:4]+"'"
    year=int(quarteryear[0:4])
# Quotes are needed for SQL statements.
    acquarter="'"+quarteryear[4:6]+"'"
    pyeyear="'"+str(year-1)+"'"
    pyequarter="'12'"
    years_needed=[]
    quarters_needed=[]
# Set up list of dates for years.
    for acct in acctlist:
        if 'PYE' in acct:
            years_needed.append(pyeyear)
            quarters_needed.append(pyequarter)
        else:
            years_needed.append(acyear)
            quarters_needed.append(acquarter)
# Now get the accounts needed and strip off AC or PYE.
    for i in range(len(acctlist)):
        acctlist[i]=acctlist[i].replace('AC','')
        acctlist[i]=acctlist[i].replace('PYE','')
        acctlist[i]=acctlist[i]
# Now loop through each of the ACCTs that are required and set up SQL statement
# using the apprpriate dates.
    for i,acct in enumerate(acctlist):
        querystring='SELECT '+ 'FED_RSSD, ' + acct 
        querystring=querystring+' FROM ' + FDIC_dict[acct]
# Now loop through the ACCTs requested to get the appropriate year.
        querystring += ' WHERE '+ 'year='+ years_needed[i] + ' AND ' + \
            'quarter='+ quarters_needed[i]+';'
        dfsql = pd.read_sql_query(querystring, engine)
        dfsql[['fed_rssd']]=dfsql[['fed_rssd']].astype(int).astype(str)
        dfsql=dfsql.drop_duplicates()
# We now have a df with the desired info. Create a master df.
        if i ==0:
            dfKPI=dfsql
        else:
            dfKPI = pd.merge(left=dfKPI, right=dfsql,how='left',left_on='fed_rssd',right_on='fed_rssd')
    dfKPI.columns=acct_names
# Return this df.
    return dfKPI

In [181]:
# This is a cell with a sample query for testing.
data_frame = pd.read_sql_query('SELECT CU_NUMBER, ACCT_659 from fs220B;', engine)
data_frame

        cu_number   acct_659
0             5.0      294.0
1            12.0   157733.0
2            16.0    12525.0
3            22.0   224744.0
4            28.0  1278913.0
5            37.0        0.0
6            42.0        0.0
7            48.0    56710.0
8            53.0    51735.0
9            62.0        0.0
10           75.0        0.0
11           78.0    83990.0
12           80.0  1919717.0
13           82.0  1879927.0
14           90.0     1671.0
15           92.0     1514.0
16          107.0    12666.0
17          110.0    10262.0
18          118.0        0.0
19          120.0   457825.0
20          135.0   155162.0
21          146.0    19329.0
22          149.0        0.0
23          151.0  1737624.0
24          153.0        0.0
25          158.0     3211.0
26          162.0   586707.0
27          167.0   222889.0
28          169.0        0.0
29          176.0  1489217.0
...           ...        ...
225729    96707.0     8920.0
225730    96718.0      535.0
225731    96722.0   145542.0
225732    96737.0        0.0
225733    96750.0    73008.0
225734    96755.0   373483.0
225735    96761.0   324135.0
225736    96768.0    98453.0
225737    96787.0        0.0
225738    96796.0     5251.0
225739    96800.0      379.0
225740    96812.0        0.0
225741    97052.0    94273.0
225742    97055.0    93833.0
225743    97063.0        0.0
225744    97068.0   797015.0
225745    97071.0    18338.0
225746    97076.0   441193.0
225747    97078.0    20349.0
225748    97083.0        0.0
225749    97085.0  1385616.0
225750    97089.0   624825.0
225751    97092.0        0.0
225752    97094.0    71511.0
225753    97096.0    43971.0
225754    97098.0   103702.0
225755    97100.0     4780.0
225756    97102.0    11255.0
225757    97104.0    57377.0
225758    97106.0   337034.0

[225759 rows x 2 columns]

In [13]:
############## MAIN BODY OF PROGRAM ###########################
# This will calculate all KPIs defined for the desired year and return them
# in a df.  Multiple years will be appended.
# First get identifier information on each CU.
fspath='C:/Analytics/DATA911/Arkatechture/FDIC_Data/FDIC_06_2017/'
dfout=pd.read_csv(fspath+'All_Reports_20170630_Cash Dividends.csv',
      usecols=['fed_rssd','cert','name','city','stalp','zip'],
      dtype=str, skipinitialspace=True)
# dfstats will have summary statistics on each KPI
dfstats=pd.DataFrame(columns=['KPI','KPI_Class','KPI_Mean','KPI_StDev',
                               'KPI_CV','KPI_Count','KPI_Descrip'],index=None)
# Now set up a variable name descriptor dictionary so out put names
# are a bit more descriptive.
KPInamedict = {'Capital Adequacy':'CapAdeq','Asset Quality':'AsstQual',
               'Earnings':'Earnings','Asset/Liability Management':'AstLiaMgmt',
               'Productivity':'Product','Other Ratios':'OthRatio',
               'Other Delinquency Ratios':'OthDlqRat',
               'Real Estate Loan Delinquency':'RELnDeliq',
               'Miscellaneous Loan Loss Ratios':'MiscLnLsRat',
               'Specialized Lending Ratios':'SpecLndRat',
               'Real Estate Lending Ratios':'RELndRat',
               'Miscellaneous Ratios':'MiscRatio'}
# Get ACCTs that might be used in Arkatechture searches.These will be part of
# the output file. NOTE: WHEN SPECIFYING ACCTS TO GRAB, THE PERIOD FOR 
# WHICH THEY ARE DESIRED -- AC OR PYE -- MUST BE PART OF THE ACCT NAME.
# Specify the most recent year as the one from which we will get our 
# query fields.
###################### CHANGE THE FOLLOWING TO GET A DIFFERENT DATE ################
quarteryear='201706'
####################################################################################
acctlist=['dep','lnlsgr']
# AC is the current year and must be passed to KPIdfs
dfaccts=KPIdfs(quarteryear, acctlist,FDIC_dict)
dfaccts=dfaccts.rename(columns = {'dep':'Deposits','lnlsgr':'LoansLeases'})
dfout=pd.merge(left=dfout, right=dfaccts,how='left')
dfout[['Deposits','LoansLeases']] = dfout[['Deposits','LoansLeases']].astype(int)
# Now get all the KPIs.
# Now Get KPIs and attach them to the output file.
#......................................................
# KPI 1: Capital Adequacy: Get data frame with desired ACCTs. 997, 010
KPInum=1
KPIclass='Capital Adequacy'
KPIdescrip='Page 1 Net Worth/Total Assets'
# The following are the ACCTs needed and the period for which they are
# needed.  These should be lowercase.
acctlist=['eqAC','assetAC']
# NOTE: AC is the year/quarter for which we want KPIs
dfaccts=KPIdfs(quarteryear,acctlist,FDIC_dict)
# Protect against division by zero -- drop rows if denominator = 0.
# Note everything is now upper case.
dfaccts = dfaccts.drop(dfaccts[dfaccts['assetAC'] == 0].index)
# NOTE: Returned dataframe has capital ACCTs as columns.
dfaccts['KPI']=dfaccts['eqAC']/dfaccts['assetAC']*100
dfout=JoinKPI(KPInum,dfout,dfaccts,KPIclass,KPInamedict)
dfstats=KPI_stats(dfstats,dfaccts,KPIdescrip,KPInum,KPIclass)
###############/#########/print('/ompleted KPI/,KPInum)d/out=dfout.round(2)/
#......................................................
# KPI 2: Capital Adequacy: 041B/997
KPInum=2
KPIclass='Capital Adequacy'
KPIdescrip='Page 1 Total Delinquent Loans/Net Worth'
acctlist=['p3assetAC','eqAC']
dfaccts=KPIdfs(quarteryear,acctlist,FDIC_dict)
# Protect against division by zero -- drop rows if denominator = 0.
dfaccts = dfaccts.drop(dfaccts[dfaccts['eqAC'] == 0].index)
# NOTE: Returned dataframe has capital ACCTs as columns.
dfaccts['KPI']=dfaccts['p3assetAC']/dfaccts['eqAC']*100
dfout=JoinKPI(KPInum,dfout,dfaccts,KPIclass,KPInamedict)
dfstats=KPI_stats(dfstats,dfaccts,KPIdescrip,KPInum,KPIclass)
#########################
print('Completed KPI',KPInum)
#......................................................
# KPI 5: Delinquent Loans/Total Loans  041B, 025B
KPInum=5
KPIclass='Asset Quality'
KPIdescrip='Page 2 Delinquent Loans/Total Loans'
acctlist=['p3assetAC','lnlsgrAC']
dfaccts=KPIdfs(quarteryear,acctlist,FDIC_dict)
# Protect against division by zero -- drop rows if denominator = 0.
dfaccts = dfaccts.drop(dfaccts[dfaccts['lnlsgrAC'] == 0].index)
# NOTE: Returned dataframe has capital ACCTs as columns.
dfaccts['KPI']=(dfaccts['p3assetAC']/dfaccts['lnlsgrAC'])*100
dfout=JoinKPI(KPInum,dfout,dfaccts,KPIclass,KPInamedict)
dfstats=KPI_stats(dfstats,dfaccts,KPIdescrip,KPInum,KPIclass)
#########################
print('Completed KPI',KPInum)
#......................................................
# KPI 9: Delinquent Loans / Assets  041B, 010
KPInum=9
KPIclass='Asset Quality'
KPIdescrip='Page 3 Delinquent Loans / Assets'
acctlist=['p3assetAC','assetAC']
dfaccts=KPIdfs(quarteryear,acctlist,FDIC_dict)
# Protect against division by zero -- drop rows if denominator = 0.
dfaccts = dfaccts.drop(dfaccts[dfaccts['assetAC'] == 0].index)
# NOTE: Returned dataframe has capital ACCTs as columns.
dfaccts['KPI']=(dfaccts['p3assetAC']/dfaccts['assetAC'])*100
dfout=JoinKPI(KPInum,dfout,dfaccts,KPIclass,KPInamedict)
dfstats=KPI_stats(dfstats,dfaccts,KPIdescrip,KPInum,KPIclass)
#########################
print('Completed KPI',KPInum)
# ......................................................
#KPI 10: Return on Average Assets - 661A, 010
KPInum=10
KPIclass='Earnings'
KPIdescrip='Page 3 Return on Average Assets'
acctlist=['netincAC','assetAC','assetPYE']
dfaccts=KPIdfs(quarteryear,acctlist,FDIC_dict)
# Protect against division by zero -- drop rows if denominator = 0.
dfaccts = dfaccts.drop(dfaccts[dfaccts['assetAC']+dfaccts['assetPYE']== 0].index)
# NOTE: Returned dataframe has capital ACCTs as columns.
dfaccts['KPI']=(dfaccts['netincAC']/((dfaccts['assetAC']+dfaccts['assetPYE'])/2))*100
dfout=JoinKPI(KPInum,dfout,dfaccts,KPIclass,KPInamedict)
dfstats=KPI_stats(dfstats,dfaccts,KPIdescrip,KPInum,KPIclass)
########################
print('Completed KPI',KPInum)
#......................................................
# KPI 13: Yield on Average Loans - 110, 119, 025b
KPInum=13
KPIclass='Earnings'
KPIdescrip='Page 3 Yield on Average Loans'
acctlist=['intincAC','lnlsgrAC','lnlsgrPYE']
dfaccts=KPIdfs(quarteryear,acctlist,FDIC_dict)
# Protect against division by zero -- drop rows if denominator = 0.
dfaccts = dfaccts.drop(dfaccts[dfaccts['lnlsgrAC']+dfaccts['lnlsgrPYE']== 0].index)
# NOTE: Returned dataframe has capital ACCTs as columns.
# NOTE: KPI calculation modified to accommodate bank variables.
dfaccts['KPI']=((dfaccts['intincAC'])/(dfaccts['lnlsgrAC']))*100
dfout=JoinKPI(KPInum,dfout,dfaccts,KPIclass,KPInamedict)
dfstats=KPI_stats(dfstats,dfaccts,KPIdescrip,KPInum,KPIclass)
#########################
print('Completed KPI',KPInum)
#......................................................
# KPI 15: Fee and Other Operating Income / Average Assets - 131, 659, 010
KPInum=15
KPIclass='Earnings'
KPIdescrip='Page 4 Fee and Other Operating Income / Average Assets'
acctlist=['iinscomAC','iinsothAC','noniiAC','asset5AC']
dfaccts=KPIdfs(quarteryear,acctlist,FDIC_dict)
# Protect against division by zero -- drop rows if denominator = 0.
dfaccts = dfaccts.drop(dfaccts[dfaccts['asset5AC']== 0].index)
# NOTE: Returned dataframe has capital ACCTs as columns.
# NOTE: KPI calculation modified to accommodate bank variables.
dfaccts['KPI']=((dfaccts['iinscomAC']+dfaccts['iinsothAC'] +
                dfaccts['noniiAC']) /dfaccts['asset5AC'])*100
dfout=JoinKPI(KPInum,dfout,dfaccts,KPIclass,KPInamedict)
dfstats=KPI_stats(dfstats,dfaccts,KPIdescrip,KPInum,KPIclass)
#########################
print('Completed KPI',KPInum)
#......................................................
# KPI 26: Total Loans / Total Shares  025B, 018
KPInum=26
KPIclass='Asset/Liability Management'
KPIdescrip='Page 7 Total Loans / Total Shares'
acctlist=['lnlsgrAC','depAC']
dfaccts=KPIdfs(quarteryear,acctlist,FDIC_dict)
# Protect against division by zero -- drop rows if denominator = 0.
dfaccts = dfaccts.drop(dfaccts[dfaccts['depAC'] == 0].index)
# NOTE: Returned dataframe has capital ACCTs as columns.
dfaccts['KPI']=(dfaccts['lnlsgrAC']/dfaccts['depAC'])*100
dfout=JoinKPI(KPInum,dfout,dfaccts,KPIclass,KPInamedict)
dfstats=KPI_stats(dfstats,dfaccts,KPIdescrip,KPInum,KPIclass)
#########################
print('Completed KPI',KPInum)
#......................................................
# KPI 27: Total Loans / Total Assets  025B, 010
KPInum=27
KPIclass='Asset/Liability Management'
KPIdescrip='Page 7 Total Loans / Total Assets'
acctlist=['lnlsgrAC','assetAC']
dfaccts=KPIdfs(quarteryear,acctlist,FDIC_dict)
# Protect against division by zero -- drop rows if denominator = 0.
dfaccts = dfaccts.drop(dfaccts[dfaccts['assetAC'] == 0].index)
# NOTE: Returned dataframe has capital ACCTs as columns.
dfaccts['KPI']=(dfaccts['lnlsgrAC']/dfaccts['assetAC'])*100
dfout=JoinKPI(KPInum,dfout,dfaccts,KPIclass,KPInamedict)
dfstats=KPI_stats(dfstats,dfaccts,KPIdescrip,KPInum,KPIclass)
#########################
print('Completed KPI',KPInum)
#......................................................
# KPI 40: Market (Share) Growth - 018(AC), 018(PYE)
KPInum=40
KPIclass='Other Ratios'
KPIdescrip='Page 10 Market (Share) Growth'
acctlist=['depAC','depPYE']
dfaccts=KPIdfs(quarteryear,acctlist,FDIC_dict)
# Protect against division by zero -- drop rows if denominator = 0.
dfaccts = dfaccts.drop(dfaccts[dfaccts['depPYE'] == 0].index)
# NOTE: Returned dataframe has capital ACCTs as columns.
dfaccts['KPI']=((dfaccts['depAC']-dfaccts['depPYE']) / 
       dfaccts['depPYE'])*100
dfout=JoinKPI(KPInum,dfout,dfaccts,KPIclass,KPInamedict)
dfstats=KPI_stats(dfstats,dfaccts,KPIdescrip,KPInum,KPIclass)
#########################
print('Completed KPI',KPInum)
#......................................................
# KPI 41: Loan Growth - 025B(AC), 025B(PYE)
KPInum=41
KPIclass='Other Ratios'
KPIdescrip='Page 10 Loan Growth'
acctlist=['lnlsgrAC','lnlsgrPYE']
dfaccts=KPIdfs(quarteryear,acctlist,FDIC_dict)
# Protect against division by zero -- drop rows if denominator = 0.
dfaccts = dfaccts.drop(dfaccts[dfaccts['lnlsgrPYE'] == 0].index)
# NOTE: Returned dataframe has capital ACCTs as columns.
dfaccts['KPI']=((dfaccts['lnlsgrAC']-dfaccts['lnlsgrPYE']) /
       dfaccts['lnlsgrPYE'])*100
dfout=JoinKPI(KPInum,dfout,dfaccts,KPIclass,KPInamedict)
dfstats=KPI_stats(dfstats,dfaccts,KPIdescrip,KPInum,KPIclass)
#########################
print('Completed KPI',KPInum)
#......................................................
# KPI 42: Asset Growth - 010(AC), 010(PYE)
KPInum=42
KPIclass='Other Ratios'
KPIdescrip='Page 10 Asset Growth'
acctlist=['assetAC','assetPYE']
dfaccts=KPIdfs(quarteryear,acctlist,FDIC_dict)
# Protect against division by zero -- drop rows if denominator = 0.
dfaccts = dfaccts.drop(dfaccts[dfaccts['assetPYE'] == 0].index)
# NOTE: Returned dataframe has capital ACCTs as columns.
dfaccts['KPI']=((dfaccts['assetAC']-dfaccts['assetPYE']) /
       dfaccts['assetPYE'])*100
dfout=JoinKPI(KPInum,dfout,dfaccts,KPIclass,KPInamedict)
dfstats=KPI_stats(dfstats,dfaccts,KPIdescrip,KPInum,KPIclass)
#########################
print('Completed KPI',KPInum)
# Now round results and write the result to a .csv
#########################
dfout=dfout.round(2)
path='C:/Analytics/DATA911/Arkatechture/FDIC_Data/FDIC_Redshift_Test/'
dfout.to_csv(path_or_buf=path+'RedShiftPullDown.csv')
dfstats.to_csv(path_or_buf=path+'RedShiftPullDown_Stats.csv')

KPI 1 : Capital Adequacy
 Page 1 Net Worth/Total Assets
 Mean: 12.12964914889767
 StDev: 6.772866622796102
 CV: 55.837283829529504
 Count: 5787

KPI 2 : Capital Adequacy
 Page 1 Total Delinquent Loans/Net Worth
 Mean: 4.157153575561459
 StDev: 5.777892802225568
 CV: 138.9867537295688
 Count: 5787
Completed KPI 2

KPI 5 : Asset Quality
 Page 2 Delinquent Loans/Total Loans
 Mean: 0.756121462519512
 StDev: 1.039721921244624
 CV: 137.50726209782647
 Count: 5757
Completed KPI 5

KPI 9 : Asset Quality
 Page 3 Delinquent Loans / Assets
 Mean: 0.46019401522948783
 StDev: 0.6056152727756586
 CV: 131.5999888598405
 Count: 5796
Completed KPI 9

KPI 10 : Earnings
 Page 3 Return on Average Assets
 Mean: 0.5266502055921538
 StDev: 1.8765994289353027
 CV: 356.32748435468585
 Count: 5785
Completed KPI 10
Completed KPI 10

KPI 13 : Earnings
 Page 3 Yield on Average Loans
 Mean: 18.952807870482676
 StDev: 1192.4712051738882
 CV: 6291.791766807581
 Count: 5748
Completed KPI 13

KPI 15 : Earnings
 Page 4 Fee and Other Operating Income / Average Assets
 Mean: 0.7077888777551241
 StDev: 5.264724042341958
 CV: 743.826896381863
 Count: 5787
Completed KPI 15

KPI 26 : Asset/Liability Management
 Page 7 Total Loans / Total Shares
 Mean: 79.4912736342597
 StDev: 52.49172173412933
 CV: 66.0345712607957
 Count: 5796
Completed KPI 26

KPI 27 : Asset/Liability Management
 Page 7 Total Loans / Total Assets
 Mean: 64.91792022263874
 StDev: 17.286679031337577
 CV: 26.628516397401803
 Count: 5796
Completed KPI 27

KPI 40 : Other Ratios
 Page 10 Market (Share) Growth
 Mean: 2.5683021867223337
 StDev: 10.304664677585732
 CV: 401.2247752954858
 Count: 5794
Completed KPI 40

KPI 41 : Other Ratios
 Page 10 Loan Growth
 Mean: 23.36624303707043
 StDev: 1464.798509021599
 CV: 6268.86618742133
 Count: 5755
Completed KPI 41

KPI 42 : Other Ratios
 Page 10 Asset Growth
 Mean: 2.952440664021297
 StDev: 11.266503560564658
 CV: 381.59966084532255
 Count: 5794
Completed KPI 42