In [40]:
import pandas as pd
import glob, os
import re
import fnmatch

## This will prepare the data for the Redshift database. 
    1) Goes to the directory where all the files are stored
        a. Searches through all the files that contain fs220
        b. Append the endings of these files to a list [fs220A, fs220B, fs220C, etc...]
        c. Get the unique endings from that list by taking the set()
        d. Now we have all the unique endings (we will make a seperate table in our Redshift Database for each)
        
    2) For each ending, we find the most recent year and month of the reported data 
       This is needed to get the latest_vars variable
        a. First it finds most recent year reported for that ending (for loop with > comparisons)
        b. Then it finds most recent month reported in that year for that ending (for loop with > comparisons)
        c. It appends each year and month combination for each ending to lists
          (*NOTE: this is necessary as there is not a universal latest year and month for each ending. 
          For example, fs220E does not report in 201706, but instead, its last reporting is in 201606)
          
    3) Using the zip() function, we can iterate over three lists at a time (ending list, latest year list, latest month list) 
         a. We get the latest vars for that ending
         b. We then run through the main loop with that ending and complete the steps as before:
            i.    Reads in all fs220(ending) files 
            ii.   Makes all the column names uppercase
            iii.  Compares columns names to columns names of the latest variables using list comprehension
            iv.   If df is missing latest columns, includes them and fills with NaN, this is to maintain order - COPY into 
                  Redshift
            v.    Adds an ORDERS column which is a sequential index
            vi.   Adds a unique identifier with CU_NUM_DATE 
            vii.  Adds two columns, QUARTER, and YEAR, in case we may use these to query later on
            viii. Final structure is all df's(all years, months, and endings) with all the latest columns in a dictionary 
                  The df's are all "standardized"
                  If latest column doesn't exist in the original df, it is filled with NaN's. 
                  (*NOTE: we made need to change what it is filled in with here since NaN is a float and we really want   
                  NULL/None for Redshift Database to read correctly)
    
    4) Write all the dictionary files to a new folder to load into AWS S3 bucket 
       Add naming convention of same prefix for each file.
       Example: fs220A-csv. is prefix for all fs220A files (all years and months)

### Four Functions Below - Used to prepare files and write to folder to upload to S3 Bucket

In [41]:
def setPath(path):
    #Setting the directory '
    os.chdir(path)
    return path
    
#Gets last year and month in each file 
def getYearMonth(unique_endings):
    last_year_list=[]
    last_month_list=[]
    for ending in unique_endings:
        last_year_reported='2000'
        last_month_reported=3
        for file in glob.glob("*"+ending+'.csv'):
            latest_year=file[0:4]
            latest_year_int=int(latest_year)
            if latest_year_int > int(last_year_reported):
                last_year_reported = str(latest_year_int)
        last_year_list.append(last_year_reported)
        for file in glob.glob(last_year_reported+"*"+ending+'.csv'):
                latest_month=file[4:6]
                len_s=len(latest_month)
                latest_month_int=int(latest_month)
                if latest_month_int > int(last_month_reported):
                    last_month_reported = str(latest_month_int).rjust(len_s, "0")
                    last_month_list.append(last_month_reported)
    return last_month_list, last_year_list

def write(dict_):
    for key in dict_.keys():
        dict_[key].to_csv('C:/Users/Owner/Documents/Practicum Projects/Arkatechture/NCUS_csv/fs_files_for_database_load2/{}.csv'.format(key.split("_")[-1]+'-csv.'+key), index=False)

In [42]:
def main():
    #Setting the directory 
    path=setPath("C:/Users/Owner/Documents/Practicum Projects/Arkatechture/NCUA_csv_2009_2017/")
    startvalue=1
    filelist=[]
    dict_={}

    #Searching for fs220 Files
    unique_endings=[]
    for file in glob.glob("*_fs220*"):
        unique_endings.append(file.split("_")[-1].split(".")[0])
    unique_endings=set(unique_endings)
    last_month_list, last_year_list = getYearMonth(unique_endings)


    #returns a list of features
    for ending,year,month in zip(unique_endings, last_year_list, last_month_list):
        #print(year,month,ending)
        latest_csv=pd.read_csv(path+year+month+'_'+ending+'.csv', encoding='latin1')#/most_recent+ending
        
        latest_csv.columns=map(str.upper, latest_csv.columns)
        latest_vars=latest_csv.columns.tolist()
        #Creates a dictinary (key:filename, value:dataframe) 
     
        for file in glob.glob("*_"+ending+".csv"):#200903_fs220.csv
            if not 'fs220B' in ending:
                continue
            
            filename = file[:-4]
            filelist.append(filename)
            dict_[filename] = pd.read_csv(file, encoding='latin1')
            dict_[filename].columns = map(str.upper, dict_[filename].columns)
            set1=dict_[filename].columns.tolist()
            set2=latest_vars
            to_add=[x for x in set2 if x not in set1]
            columns=dict_[filename].columns.tolist()
            dict_[filename]=dict_[filename].reindex(columns=[*dict_[filename].columns.tolist(), *to_add], fill_value=-1)
            dict_[filename]=dict_[filename].reindex_axis(columns+to_add, axis=1)
            dict_[filename].insert(0, 'ORDERS', range(startvalue, startvalue + len(dict_[filename])))
            startvalue+=len(dict_[filename])
            dict_[filename].insert(1, 'CU_NUM_DATE', dict_[filename]['CU_NUMBER'].astype(str)+'_'+pd.to_datetime(dict_[filename]['CYCLE_DATE']).dt.date.astype(str))
            dict_[filename].insert(2, 'QUARTER', filename[4:6])
            dict_[filename].insert(3, 'YEAR', filename[:4])
        write(dict_)

In [43]:
main()

KeyboardInterrupt:

## Connect to Redshift via Python

In [ ]:
#!pip --upgrade pip

Install the following

In [ ]:
#!pip install ipython-sql

Set up connection credentials

In [2]:
import sqlalchemy
import psycopg2

In [4]:
from sqlalchemy import create_engine
import pandas as pd
#engine = create_engine('postgresql://arkauser:Password1@arkatestcluster.cpjywwj3yist.us-west-2.redshift.amazonaws.com:5439/awesomedatabase')
data_frame = pd.read_sql_query('SELECT ACCT_010 from fs220;', engine)

In [10]:
from pandas.io import sql
sql.execute('''create table fs220B ( 
ORDERS varchar(255), 
CU_NUM_DATE varchar(255), 
QUARTER varchar(255), 
YEAR varchar(255), 
CU_NUMBER varchar(255), 
CYCLE_DATE varchar(255), 
JOIN_NUMBER varchar(255), 
ACCT_606A decimal, 
ACCT_606B decimal, 
ACCT_607 decimal, 
ACCT_608 decimal, 
ACCT_609 decimal, 
ACCT_620 decimal, 
ACCT_621 decimal, 
ACCT_622 decimal, 
ACCT_623 decimal, 
ACCT_624 decimal, 
ACCT_625 decimal, 
ACCT_626 decimal, 
ACCT_627 decimal, 
ACCT_628 decimal, 
ACCT_630A decimal, 
ACCT_630B1 decimal, 
ACCT_630B2 decimal, 
ACCT_640 decimal, 
ACCT_652C decimal, 
ACCT_653A decimal, 
ACCT_653B1 decimal, 
ACCT_653B2 decimal, 
ACCT_653C decimal, 
ACCT_655C decimal, 
ACCT_656A decimal, 
ACCT_656B1 decimal, 
ACCT_656B2 decimal, 
ACCT_657A decimal, 
ACCT_657B1 decimal, 
ACCT_657B2 decimal, 
ACCT_659 decimal, 
ACCT_660 decimal, 
ACCT_661 decimal, 
ACCT_670A decimal, 
ACCT_670B decimal, 
ACCT_672C decimal, 
ACCT_698 decimal, 
ACCT_709 decimal, 
ACCT_725 decimal, 
ACCT_726 decimal, 
ACCT_731 decimal, 
ACCT_732 decimal, 
ACCT_733 decimal, 
ACCT_734 decimal, 
ACCT_735 decimal, 
ACCT_736 decimal, 
ACCT_737 decimal, 
ACCT_741C decimal, 
ACCT_742C decimal, 
ACCT_746C decimal, 
ACCT_747A decimal, 
ACCT_747B1 decimal, 
ACCT_747B2 decimal, 
ACCT_747C decimal, 
ACCT_750C decimal, 
ACCT_752 decimal, 
ACCT_753 decimal, 
ACCT_754 decimal, 
ACCT_756 decimal, 
ACCT_757 decimal, 
ACCT_758 decimal, 
ACCT_760A decimal, 
ACCT_760B1 decimal, 
ACCT_760B2 decimal, 
ACCT_761A decimal, 
ACCT_761B1 decimal, 
ACCT_761B2 decimal, 
ACCT_770 decimal, 
ACCT_772 decimal, 
ACCT_773 decimal, 
ACCT_774 decimal, 
ACCT_776 decimal, 
ACCT_777 decimal, 
ACCT_778 decimal, 
ACCT_780 decimal, 
ACCT_781 decimal, 
ACCT_795 decimal, 
ACCT_799 decimal, 
ACCT_811 decimal, 
ACCT_812 decimal, 
ACCT_813 decimal, 
ACCT_814 decimal, 
ACCT_815 decimal, 
ACCT_816 decimal, 
ACCT_817 decimal, 
ACCT_818 decimal, 
ACCT_820 decimal, 
ACCT_821 decimal, 
ACCT_850 decimal, 
ACCT_860A decimal, 
ACCT_860B1 decimal, 
ACCT_860B2 decimal, 
ACCT_865 decimal, 
ACCT_880A decimal, 
ACCT_880B1 decimal, 
ACCT_880B2 decimal, 
ACCT_900 decimal, 
ACCT_902A decimal, 
ACCT_902B1 decimal, 
ACCT_902B2 decimal, 
ACCT_906B1 decimal, 
ACCT_906B2 decimal, 
ACCT_906C decimal, 
ACCT_908B1 decimal, 
ACCT_908B2 decimal, 
ACCT_911A decimal, 
ACCT_911B1 decimal, 
ACCT_911B2 decimal, 
ACCT_913 decimal, 
ACCT_914 decimal, 
ACCT_955 decimal, 
ACCT_956 decimal, 
ACCT_957 decimal, 
ACCT_958 decimal, 
ACCT_961 decimal, 
ACCT_962 decimal, 
ACCT_963 decimal, 
ACCT_964 decimal, 
ACCT_965 decimal, 
ACCT_966 decimal, 
ACCT_970 decimal, 
ACCT_971 decimal, 
ACCT_972 decimal, 
ACCT_974 decimal, 
ACCT_977 decimal, 
ACCT_978 decimal, 
ACCT_982 decimal, 
ACCT_983 decimal, 
ACCT_984 decimal, 
ACCT_985 decimal, 
ACCT_986 decimal, 
ACCT_987 decimal, 
ACCT_988 decimal, 
ACCT_990 decimal, 
ACCT_992 decimal, 
ACCT_993 decimal, 
ACCT_994 decimal, 
ACCT_995 decimal, 
ACCT_603 decimal, 
ACCT_743C decimal, 
ACCT_744A decimal, 
ACCT_744B1 decimal, 
ACCT_744B2 decimal, 
ACCT_744C decimal, 
ACCT_085 decimal, 
ACCT_086 decimal, 
ACCT_087 decimal, 
ACCT_782 decimal, 
ACCT_783 decimal, 
ACCT_784 decimal, 
ACCT_796A decimal, 
ACCT_796B decimal, 
ACCT_796C decimal, 
ACCT_796D decimal, 
ACCT_796E decimal, 
ACCT_797A decimal, 
ACCT_797B decimal, 
ACCT_797C decimal, 
ACCT_797D decimal, 
ACCT_797E decimal, 
ACCT_799B decimal, 
ACCT_799C decimal, 
ACCT_799D decimal, 
ACCT_840 decimal, 
ACCT_875 decimal, 
ACCT_877 decimal, 
ACCT_945 decimal, 
ACCT_801 decimal, 
ACCT_614 decimal, 
ACCT_615 decimal, 
ACCT_745A decimal, 
ACCT_745B decimal, 
ACCT_745C decimal, 
ACCT_745D decimal, 
ACCT_745E decimal, 
ACCT_819 decimal, 
ACCT_867A decimal, 
ACCT_867B1 decimal, 
ACCT_867B2 decimal, 
ACCT_867C decimal, 
ACCT_925 decimal, 
ACCT_841 decimal, 
ACCT_465 decimal, 
ACCT_466 decimal, 
ACCT_767 decimal, 
ACCT_768 decimal, 
ACCT_918 decimal, 
ACCT_919 decimal, 
ACCT_026A decimal, 
ACCT_026B decimal, 
ACCT_027A decimal, 
ACCT_027B decimal, 
ACCT_028A decimal, 
ACCT_028B decimal, 
ACCT_045A decimal, 
ACCT_045B decimal, 
ACCT_585 decimal, 
ACCT_680 decimal, 
ACCT_681 decimal, 
ACCT_682 decimal, 
ACCT_769 decimal, 
ACCT_785 decimal, 
ACCT_786 decimal, 
ACCT_787 decimal, 
ACCT_892 decimal, 
ACCT_895 decimal, 
ACCT_896 decimal, 
ACCT_899 decimal, 
ACCT_020I decimal, 
ACCT_021I decimal, 
ACCT_022I decimal, 
ACCT_023I decimal, 
ACCT_041I decimal, 
ACCT_550I decimal, 
ACCT_551I decimal, 
ACCT_981 decimal, 
ACCT_981A decimal, 
ACCT_981B decimal, 
ACCT_065A1 decimal, 
ACCT_065A2 decimal, 
ACCT_065A3 decimal, 
ACCT_065A4 decimal, 
ACCT_065B1 decimal, 
ACCT_065C1 decimal, 
ACCT_065D1 decimal, 
ACCT_065E1 decimal, 
ACCT_067A1 decimal, 
ACCT_067A2 decimal, 
ACCT_067B1 decimal, 
ACCT_067C1 decimal, 
ACCT_068A decimal, 
ACCT_069A decimal, 
ACCT_033A decimal, 
ACCT_033B decimal, 
ACCT_033C decimal, 
ACCT_033D decimal, 
ACCT_033E decimal, 
ACCT_034A decimal, 
ACCT_034B decimal, 
ACCT_034C decimal, 
ACCT_034D decimal, 
ACCT_034E decimal, 
ACCT_035A decimal, 
ACCT_035B decimal, 
ACCT_035C decimal, 
ACCT_035D decimal, 
ACCT_035E decimal);''', engine)

In [34]:
from pandas.io import sql
sql.execute("copy fs220B from 's3://arkatestbucket/load/fs220B-csv.' credentials 'aws_iam_role=arn:aws:iam::886264772629:role/Arkatest' csv IGNOREHEADER 1 null as '\\000';", engine)

InternalError: (psycopg2.InternalError) Load into table 'fs220b' failed.  Check 'stl_load_errors' system table for details.
 [SQL: "copy fs220B from 's3://arkatestbucket/load/fs220B-csv.' credentials 'aws_iam_role=arn:aws:iam::886264772629:role/Arkatest' csv IGNOREHEADER 1 null as '\\000';"]

In [20]:
test=sql.execute('''select d.query, substring(d.filename,14,20), 
d.line_number as line, 
substring(d.value,1,16) as value,
substring(le.err_reason,1,48) as err_reason
from stl_loaderror_detail d, stl_load_errors le
where d.query = le.query
and d.query = pg_last_copy_id(); ''', engine)

In [35]:
sql.execute('''SELECT err.userid,
       err.process,
       err.recordtime,
       err.pid,
       err.errcode,
       err.file,
       err.linenum,
       err.context,
       err.error
FROM stl_error err,
     stv_recents rec
WHERE rec.pid=err.pid
  AND rec.status='running'
  AND rec.query LIKE 'COPY%';''', engine)

ERROR:root:An unexpected error occurred while tokenizing input
The following traceback may be corrupted or invalid
The error message is: ('EOF in multi-line string', (1, 29))

TypeError: 'dict' object does not support indexing

In [ ]:
SELECT err.userid,
       err.process,
       err.recordtime,
       err.pid,
       err.errcode,
       err.file,
       err.linenum,
       err.context,
       err.error
FROM stl_error err,
     stv_recents rec
WHERE rec.pid=err.pid
  AND rec.status='running'
  AND rec.query LIKE 'COPY%';

In [29]:
type(test)

sqlalchemy.engine.result.ResultProxy

In [33]:
test.first()

In [1]:
import sqlalchemy
import psycopg2
%reload_ext sql

connect_to_db = 'postgresql+psycopg2://' + \
                'arkauser' + ':' + 'Password1' + '@' + \
                'arkatestcluster.cpjywwj3yist.us-west-2.redshift.amazonaws.com' + ':' + '5439' + '/' + 'awesomedatabase';
%sql $connect_to_db
%config SqlMagic.displaylimit = 5

In [ ]:
#%loan_ext sql

In [35]:
%%sql 
show table;

(psycopg2.ProgrammingError) syntax error at or near "table"
LINE 1: show table;
             ^
 [SQL: 'show table;']

In [6]:
%%sql 
drop table fs220B;

ERROR:root:Cell magic `%%sql` not found.

SQL query

In [23]:
%%sql

create table fs220B ( 
ORDERS varchar(255), 
CU_NUM_DATE varchar(255), 
QUARTER varchar(255), 
YEAR varchar(255), 
CU_NUMBER varchar(255), 
CYCLE_DATE varchar(255), 
JOIN_NUMBER varchar(255), 
ACCT_606A decimal, 
ACCT_606B decimal, 
ACCT_607 decimal, 
ACCT_608 decimal, 
ACCT_609 decimal, 
ACCT_620 decimal, 
ACCT_621 decimal, 
ACCT_622 decimal, 
ACCT_623 decimal, 
ACCT_624 decimal, 
ACCT_625 decimal, 
ACCT_626 decimal, 
ACCT_627 decimal, 
ACCT_628 decimal, 
ACCT_630A decimal, 
ACCT_630B1 decimal, 
ACCT_630B2 decimal, 
ACCT_640 decimal, 
ACCT_652C decimal, 
ACCT_653A decimal, 
ACCT_653B1 decimal, 
ACCT_653B2 decimal, 
ACCT_653C decimal, 
ACCT_655C decimal, 
ACCT_656A decimal, 
ACCT_656B1 decimal, 
ACCT_656B2 decimal, 
ACCT_657A decimal, 
ACCT_657B1 decimal, 
ACCT_657B2 decimal, 
ACCT_659 decimal, 
ACCT_660 decimal, 
ACCT_661 decimal, 
ACCT_670A decimal, 
ACCT_670B decimal, 
ACCT_672C decimal, 
ACCT_698 decimal, 
ACCT_709 decimal, 
ACCT_725 decimal, 
ACCT_726 decimal, 
ACCT_731 decimal, 
ACCT_732 decimal, 
ACCT_733 decimal, 
ACCT_734 decimal, 
ACCT_735 decimal, 
ACCT_736 decimal, 
ACCT_737 decimal, 
ACCT_741C decimal, 
ACCT_742C decimal, 
ACCT_746C decimal, 
ACCT_747A decimal, 
ACCT_747B1 decimal, 
ACCT_747B2 decimal, 
ACCT_747C decimal, 
ACCT_750C decimal, 
ACCT_752 decimal, 
ACCT_753 decimal, 
ACCT_754 decimal, 
ACCT_756 decimal, 
ACCT_757 decimal, 
ACCT_758 decimal, 
ACCT_760A decimal, 
ACCT_760B1 decimal, 
ACCT_760B2 decimal, 
ACCT_761A decimal, 
ACCT_761B1 decimal, 
ACCT_761B2 decimal, 
ACCT_770 decimal, 
ACCT_772 decimal, 
ACCT_773 decimal, 
ACCT_774 decimal, 
ACCT_776 decimal, 
ACCT_777 decimal, 
ACCT_778 decimal, 
ACCT_780 decimal, 
ACCT_781 decimal, 
ACCT_795 decimal, 
ACCT_799 decimal, 
ACCT_811 decimal, 
ACCT_812 decimal, 
ACCT_813 decimal, 
ACCT_814 decimal, 
ACCT_815 decimal, 
ACCT_816 decimal, 
ACCT_817 decimal, 
ACCT_818 decimal, 
ACCT_820 decimal, 
ACCT_821 decimal, 
ACCT_850 decimal, 
ACCT_860A decimal, 
ACCT_860B1 decimal, 
ACCT_860B2 decimal, 
ACCT_865 decimal, 
ACCT_880A decimal, 
ACCT_880B1 decimal, 
ACCT_880B2 decimal, 
ACCT_900 decimal, 
ACCT_902A decimal, 
ACCT_902B1 decimal, 
ACCT_902B2 decimal, 
ACCT_906B1 decimal, 
ACCT_906B2 decimal, 
ACCT_906C decimal, 
ACCT_908B1 decimal, 
ACCT_908B2 decimal, 
ACCT_911A decimal, 
ACCT_911B1 decimal, 
ACCT_911B2 decimal, 
ACCT_913 decimal, 
ACCT_914 decimal, 
ACCT_955 decimal, 
ACCT_956 decimal, 
ACCT_957 decimal, 
ACCT_958 decimal, 
ACCT_961 decimal, 
ACCT_962 decimal, 
ACCT_963 decimal, 
ACCT_964 decimal, 
ACCT_965 decimal, 
ACCT_966 decimal, 
ACCT_970 decimal, 
ACCT_971 decimal, 
ACCT_972 decimal, 
ACCT_974 decimal, 
ACCT_977 decimal, 
ACCT_978 decimal, 
ACCT_982 decimal, 
ACCT_983 decimal, 
ACCT_984 decimal, 
ACCT_985 decimal, 
ACCT_986 decimal, 
ACCT_987 decimal, 
ACCT_988 decimal, 
ACCT_990 decimal, 
ACCT_992 decimal, 
ACCT_993 decimal, 
ACCT_994 decimal, 
ACCT_995 decimal, 
ACCT_603 decimal, 
ACCT_743C decimal, 
ACCT_744A decimal, 
ACCT_744B1 decimal, 
ACCT_744B2 decimal, 
ACCT_744C decimal, 
ACCT_085 decimal, 
ACCT_086 decimal, 
ACCT_087 decimal, 
ACCT_782 decimal, 
ACCT_783 decimal, 
ACCT_784 decimal, 
ACCT_796A decimal, 
ACCT_796B decimal, 
ACCT_796C decimal, 
ACCT_796D decimal, 
ACCT_796E decimal, 
ACCT_797A decimal, 
ACCT_797B decimal, 
ACCT_797C decimal, 
ACCT_797D decimal, 
ACCT_797E decimal, 
ACCT_799B decimal, 
ACCT_799C decimal, 
ACCT_799D decimal, 
ACCT_840 decimal, 
ACCT_875 decimal, 
ACCT_877 decimal, 
ACCT_945 decimal, 
ACCT_801 decimal, 
ACCT_614 decimal, 
ACCT_615 decimal, 
ACCT_745A decimal, 
ACCT_745B decimal, 
ACCT_745C decimal, 
ACCT_745D decimal, 
ACCT_745E decimal, 
ACCT_819 decimal, 
ACCT_867A decimal, 
ACCT_867B1 decimal, 
ACCT_867B2 decimal, 
ACCT_867C decimal, 
ACCT_925 decimal, 
ACCT_841 decimal, 
ACCT_465 decimal, 
ACCT_466 decimal, 
ACCT_767 decimal, 
ACCT_768 decimal, 
ACCT_918 decimal, 
ACCT_919 decimal, 
ACCT_026A decimal, 
ACCT_026B decimal, 
ACCT_027A decimal, 
ACCT_027B decimal, 
ACCT_028A decimal, 
ACCT_028B decimal, 
ACCT_045A decimal, 
ACCT_045B decimal, 
ACCT_585 decimal, 
ACCT_680 decimal, 
ACCT_681 decimal, 
ACCT_682 decimal, 
ACCT_769 decimal, 
ACCT_785 decimal, 
ACCT_786 decimal, 
ACCT_787 decimal, 
ACCT_892 decimal, 
ACCT_895 decimal, 
ACCT_896 decimal, 
ACCT_899 decimal, 
ACCT_020I decimal, 
ACCT_021I decimal, 
ACCT_022I decimal, 
ACCT_023I decimal, 
ACCT_041I decimal, 
ACCT_550I decimal, 
ACCT_551I decimal, 
ACCT_981 decimal, 
ACCT_981A decimal, 
ACCT_981B decimal, 
ACCT_065A1 decimal, 
ACCT_065A2 decimal, 
ACCT_065A3 decimal, 
ACCT_065A4 decimal, 
ACCT_065B1 decimal, 
ACCT_065C1 decimal, 
ACCT_065D1 decimal, 
ACCT_065E1 decimal, 
ACCT_067A1 decimal, 
ACCT_067A2 decimal, 
ACCT_067B1 decimal, 
ACCT_067C1 decimal, 
ACCT_068A decimal, 
ACCT_069A decimal, 
ACCT_033A decimal, 
ACCT_033B decimal, 
ACCT_033C decimal, 
ACCT_033D decimal, 
ACCT_033E decimal, 
ACCT_034A decimal, 
ACCT_034B decimal, 
ACCT_034C decimal, 
ACCT_034D decimal, 
ACCT_034E decimal, 
ACCT_035A decimal, 
ACCT_035B decimal, 
ACCT_035C decimal, 
ACCT_035D decimal, 
ACCT_035E decimal);

Done.

[]

In [43]:
%%sql

copy fs220B from 's3://arkatestbucket/load/fs220B-csv.' credentials 'aws_iam_role=arn:aws:iam::886264772629:role/Arkatest' csv IGNOREHEADER 1 null as '\000';

InternalError: (psycopg2.InternalError) Load into table 'fs220b' failed.  Check 'stl_load_errors' system table for details.
 [SQL: "copy fs220B from 's3://arkatestbucket/load/fs220B-csv.' credentials 'aws_iam_role=arn:aws:iam::886264772629:role/Arkatest' csv IGNOREHEADER 1 null as '\\000';"]

In [44]:
%%sql

select d.query, substring(d.filename,14,20), 
d.line_number as line, 
substring(d.value,1,16) as value,
substring(le.err_reason,1,48) as err_reason
from stl_loaderror_detail d, stl_load_errors le
where d.query = le.query
and d.query = pg_last_copy_id();

0 rows affected.

[]

In [45]:
%%sql

create view loadview as
(select distinct tbl, trim(name) as table_name, query, starttime,
trim(filename) as input, line_number, colname, err_code,
trim(err_reason) as reason
from stl_load_errors sl, stv_tbl_perm sp
where sl.tbl = sp.id);

Done.

[]

In [47]:
%%sql

select table_name, query, line_number, colname, starttime, 
trim(reason) as error
from loadview
where table_name ='event'
order by line_number limit 1;

0 rows affected.

[]

In [ ]:
#arn:aws:iam::886264772629:role/Arkatest

In [22]:
%%sql

select YEAR, QUARTER, CU_NUM_DATE, ACCT_010 from fs220;

233051 rows affected.

[('2009', '06', '5_2009-06-30', Decimal('36356408')),
 ('2009', '06', '12_2009-06-30', Decimal('45288099')),
 ('2009', '06', '16_2009-06-30', Decimal('6974969')),
 ('2009', '06', '22_2009-06-30', Decimal('197614132')),
 ('2009', '06', '28_2009-06-30', Decimal('400954842')),
 ('2009', '06', '37_2009-06-30', Decimal('403357')),
 ('2009', '06', '42_2009-06-30', Decimal('56069794')),
 ('2009', '06', '48_2009-06-30', Decimal('58745187')),
 ('2009', '06', '53_2009-06-30', Decimal('79404732')),
 ('2009', '06', '62_2009-06-30', Decimal('23335573')),
 ('2009', '06', '75_2009-06-30', Decimal('3816293')),
 ('2009', '06', '78_2009-06-30', Decimal('110786264')),
 ('2009', '06', '80_2009-06-30', Decimal('1506634038')),
 ('2009', '06', '82_2009-06-30', Decimal('244303804')),
 ('2009', '06', '90_2009-06-30', Decimal('11587258')),
 ('2009', '06', '92_2009-06-30', Decimal('4190613')),
 ('2009', '06', '107_2009-06-30', Decimal('57629766')),
 ('2009', '06', '110_2009-06-30', Decimal('7653056')),
 ('2009', '06', '118_2009-06-30', Decimal('107252220')),
 ('2009', '06', '120_2009-06-30', Decimal('86069168')),
 ('2009', '06', '135_2009-06-30', Decimal('57691861')),
 ('2009', '06', '146_2009-06-30', Decimal('3350353')),
 ('2009', '06', '149_2009-06-30', Decimal('2233831')),
 ('2009', '06', '151_2009-06-30', Decimal('477749555')),
 ('2009', '06', '153_2009-06-30', Decimal('1056019')),
 ('2009', '06', '158_2009-06-30', Decimal('21793498')),
 ('2009', '06', '162_2009-06-30', Decimal('161513414')),
 ('2009', '06', '167_2009-06-30', Decimal('146127117')),
 ('2009', '06', '169_2009-06-30', Decimal('2107200')),
 ('2009', '06', '176_2009-06-30', Decimal('684026384')),
 ('2009', '06', '181_2009-06-30', Decimal('3812691')),
 ('2009', '06', '187_2009-06-30', Decimal('22659413')),
 ('2009', '06', '195_2009-06-30', Decimal('11856304')),
 ('2009', '06', '198_2009-06-30', Decimal('42932129')),
 ('2009', '06', '200_2009-06-30', Decimal('9065929')),
 ('2009', '06', '216_2009-06-30', Decimal('55175108')),
 ('2009', '06', '224_2009-06-30', Decimal('85879278')),
 ('2009', '06', '233_2009-06-30', Decimal('132132227')),
 ('2009', '06', '240_2009-06-30', Decimal('47312199')),
 ('2009', '06', '247_2009-06-30', Decimal('8123724')),
 ('2009', '06', '258_2009-06-30', Decimal('201027147')),
 ('2009', '06', '263_2009-06-30', Decimal('61475671')),
 ('2009', '06', '266_2009-06-30', Decimal('193194421')),
 ('2009', '06', '273_2009-06-30', Decimal('532714')),
 ('2009', '06', '275_2009-06-30', Decimal('16105201')),
 ('2009', '06', '277_2009-06-30', Decimal('3601587')),
 ('2009', '06', '288_2009-06-30', Decimal('6168674')),
 ('2009', '06', '293_2009-06-30', Decimal('65952109')),
 ('2009', '06', '297_2009-06-30', Decimal('61974171')),
 ('2009', '06', '306_2009-06-30', Decimal('81819386')),
 ('2009', '06', '320_2009-06-30', Decimal('48499417')),
 ('2009', '06', '324_2009-06-30', Decimal('59152034')),
 ('2009', '06', '339_2009-06-30', Decimal('11643039')),
 ('2009', '06', '345_2009-06-30', Decimal('3205456')),
 ('2009', '06', '352_2009-06-30', Decimal('276162952')),
 ('2009', '06', '361_2009-06-30', Decimal('181850323')),
 ('2009', '06', '364_2009-06-30', Decimal('45990062')),
 ('2009', '06', '366_2009-06-30', Decimal('16322554')),
 ('2009', '06', '370_2009-06-30', Decimal('19281962')),
 ('2009', '06', '375_2009-06-30', Decimal('3518293')),
 ('2009', '06', '378_2009-06-30', Decimal('8523470')),
 ('2009', '06', '383_2009-06-30', Decimal('48261239')),
 ('2009', '06', '389_2009-06-30', Decimal('76175860')),
 ('2009', '06', '395_2009-06-30', Decimal('49605927')),
 ('2009', '06', '402_2009-06-30', Decimal('28891506')),
 ('2009', '06', '422_2009-06-30', Decimal('7424805')),
 ('2009', '06', '430_2009-06-30', Decimal('68645047')),
 ('2009', '06', '434_2009-06-30', Decimal('1700468')),
 ('2009', '06', '439_2009-06-30', Decimal('14710084')),
 ('2009', '06', '452_2009-06-30', Decimal('34502599')),
 ('2009', '06', '456_2009-06-30', Decimal('343140943')),
 ('2009', '06', '469_2009-06-30', Decimal('628539')),
 ('2009', '06', '475_2009-06-30', Decimal('25075379')),
 ('2009', '06', '479_2009-06-30', Decimal('28100482')),
 ('2009', '06', '489_2009-06-30', Decimal('132975531')),
 ('2009', '06', '491_2009-06-30', Decimal('288969135')),
 ('2009', '06', '511_2009-06-30', Decimal('176540843')),
 ('2009', '06', '515_2009-06-30', Decimal('5945921')),
 ('2009', '06', '524_2009-06-30', Decimal('2556465')),
 ('2009', '06', '538_2009-06-30', Decimal('30497731')),
 ('2009', '06', '554_2009-06-30', Decimal('39448656')),
 ('2009', '06', '566_2009-06-30', Decimal('873233929')),
 ('2009', '06', '577_2009-06-30', Decimal('3041293')),
 ('2009', '06', '594_2009-06-30', Decimal('129560101')),
 ('2009', '06', '609_2009-06-30', Decimal('12416412')),
 ('2009', '06', '616_2009-06-30', Decimal('12103853')),
 ('2009', '06', '619_2009-06-30', Decimal('342999355')),
 ('2009', '06', '624_2009-06-30', Decimal('451100798')),
 ('2009', '06', '640_2009-06-30', Decimal('4487956')),
 ('2009', '06', '644_2009-06-30', Decimal('85773356')),
 ('2009', '06', '649_2009-06-30', Decimal('69067386')),
 ('2009', '06', '660_2009-06-30', Decimal('21991952')),
 ('2009', '06', '665_2009-06-30', Decimal('139877597')),
 ('2009', '06', '678_2009-06-30', Decimal('14057281')),
 ('2009', '06', '682_2009-06-30', Decimal('4215259')),
 ('2009', '06', '690_2009-06-30', Decimal('134115643')),
 ('2009', '06', '716_2009-06-30', Decimal('34983863')),
 ('2009', '06', '731_2009-06-30', Decimal('59581748')),
 ('2009', '06', '761_2009-06-30', Decimal('84245968')),
 ('2009', '06', '776_2009-06-30', Decimal('7116749')),
 ('2009', '06', '783_2009-06-30', Decimal('8520695')),
 ('2009', '06', '794_2009-06-30', Decimal('112051510')),
 ('2009', '06', '798_2009-06-30', Decimal('4488076')),
 ('2009', '06', '817_2009-06-30', Decimal('22959856')),
 ('2009', '06', '821_2009-06-30', Decimal('8818163')),
 ('2009', '06', '831_2009-06-30', Decimal('7363124')),
 ('2009', '06', '838_2009-06-30', Decimal('6021992')),
 ('2009', '06', '841_2009-06-30', Decimal('5048186')),
 ('2009', '06', '845_2009-06-30', Decimal('32266720')),
 ('2009', '06', '851_2009-06-30', Decimal('8507340')),
 ('2009', '06', '855_2009-06-30', Decimal('343094621')),
 ('2009', '06', '857_2009-06-30', Decimal('1984998691')),
 ('2009', '06', '861_2009-06-30', Decimal('222335114')),
 ('2009', '06', '872_2009-06-30', Decimal('75773032')),
 ('2009', '06', '884_2009-06-30', Decimal('11023222')),
 ('2009', '06', '888_2009-06-30', Decimal('2745776')),
 ('2009', '06', '900_2009-06-30', Decimal('9316820')),
 ('2009', '06', '907_2009-06-30', Decimal('9906550')),
 ('2009', '06', '910_2009-06-30', Decimal('33271731')),
 ('2009', '06', '916_2009-06-30', Decimal('8497831')),
 ('2009', '06', '926_2009-06-30', Decimal('158476393')),
 ('2009', '06', '932_2009-06-30', Decimal('23877246')),
 ('2009', '06', '943_2009-06-30', Decimal('5388891')),
 ('2009', '06', '946_2009-06-30', Decimal('62575564')),
 ('2009', '03', '1_2009-03-31', Decimal('6962400')),
 ('2009', '03', '6_2009-03-31', Decimal('127947543')),
 ('2009', '03', '13_2009-03-31', Decimal('240747776')),
 ('2009', '03', '19_2009-03-31', Decimal('10280783')),
 ('2009', '06', '951_2009-06-30', Decimal('17023270')),
 ('2009', '06', '964_2009-06-30', Decimal('46430296')),
 ('2009', '06', '971_2009-06-30', Decimal('44462398')),
 ('2009', '06', '988_2009-06-30', Decimal('57037002')),
 ('2009', '03', '26_2009-03-31', Decimal('13213715')),
 ('2009', '03', '36_2009-03-31', Decimal('5832028')),
 ('2009', '03', '40_2009-03-31', Decimal('4253266')),
 ('2009', '03', '47_2009-03-31', Decimal('20555717')),
 ('2009', '03', '51_2009-03-31', Decimal('1764316403')),
 ('2009', '03', '60_2009-03-31', Decimal('133834031')),
 ('2009', '03', '73_2009-03-31', Decimal('742118')),
 ('2009', '03', '77_2009-03-31', Decimal('127408992')),
 ('2009', '03', '79_2009-03-31', Decimal('406699568')),
 ('2009', '03', '81_2009-03-31', Decimal('10229756')),
 ('2009', '03', '88_2009-03-31', Decimal('7145073')),
 ('2009', '03', '91_2009-03-31', Decimal('88982522')),
 ('2009', '03', '98_2009-03-31', Decimal('8497767')),
 ('2009', '03', '108_2009-03-31', Decimal('33956401')),
 ('2009', '03', '112_2009-03-31', Decimal('5756557')),
 ('2009', '03', '119_2009-03-31', Decimal('66333843')),
 ('2009', '06', '1_2009-06-30', Decimal('7162319')),
 ('2009', '06', '6_2009-06-30', Decimal('126623358')),
 ('2009', '06', '13_2009-06-30', Decimal('244989180')),
 ('2009', '06', '19_2009-06-30', Decimal('9750959')),
 ('2009', '06', '26_2009-06-30', Decimal('12991155')),
 ('2009', '06', '36_2009-06-30', Decimal('6143873')),
 ('2009', '06', '40_2009-06-30', Decimal('4098460')),
 ('2009', '06', '47_2009-06-30', Decimal('22674694')),
 ('2009', '06', '51_2009-06-30', Decimal('1830823071')),
 ('2009', '06', '60_2009-06-30', Decimal('135624867')),
 ('2009', '06', '73_2009-06-30', Decimal('734586')),
 ('2009', '06', '77_2009-06-30', Decimal('126510037')),
 ('2009', '06', '79_2009-06-30', Decimal('416168269')),
 ('2009', '06', '81_2009-06-30', Decimal('10238514')),
 ('2009', '06', '88_2009-06-30', Decimal('7267058')),
 ('2009', '06', '91_2009-06-30', Decimal('88911489')),
 ('2009', '06', '98_2009-06-30', Decimal('9144292')),
 ('2009', '06', '108_2009-06-30', Decimal('34593905')),
 ('2009', '06', '112_2009-06-30', Decimal('6248911')),
 ('2009', '06', '119_2009-06-30', Decimal('72747565')),
 ('2009', '06', '132_2009-06-30', Decimal('2273628')),
 ('2009', '06', '138_2009-06-30', Decimal('31003038')),
 ('2009', '06', '147_2009-06-30', Decimal('897613')),
 ('2009', '06', '150_2009-06-30', Decimal('275099137')),
 ('2009', '06', '152_2009-06-30', Decimal('2051472')),
 ('2009', '06', '157_2009-06-30', Decimal('2978977')),
 ('2009', '06', '159_2009-06-30', Decimal('598681142')),
 ('2009', '06', '165_2009-06-30', Decimal('2441202')),
 ('2009', '06', '168_2009-06-30', Decimal('26371182')),
 ('2009', '06', '174_2009-06-30', Decimal('128530094')),
 ('2009', '06', '177_2009-06-30', Decimal('420491515')),
 ('2009', '06', '183_2009-06-30', Decimal('2939128')),
 ('2009', '06', '192_2009-06-30', Decimal('46092831')),
 ('2009', '06', '196_2009-06-30', Decimal('1938098955')),
 ('2009', '06', '199_2009-06-30', Decimal('118055541')),
 ('2009', '06', '205_2009-06-30', Decimal('130086939')),
 ('2009', '06', '220_2009-06-30', Decimal('28272501')),
 ('2009', '06', '227_2009-06-30', Decimal('13754611472')),
 ('2009', '06', '234_2009-06-30', Decimal('68854604')),
 ('2009', '06', '242_2009-06-30', Decimal('61271201')),
 ('2009', '06', '256_2009-06-30', Decimal('179726365')),
 ('2009', '06', '262_2009-06-30', Decimal('51173155')),
 ('2009', '06', '264_2009-06-30', Decimal('84063453')),
 ('2009', '06', '267_2009-06-30', Decimal('2003949')),
 ('2009', '06', '274_2009-06-30', Decimal('77504690')),
 ('2009', '06', '276_2009-06-30', Decimal('12534353')),
 ('2009', '06', '287_2009-06-30', Decimal('11852032')),
 ('2009', '06', '291_2009-06-30', Decimal('15744111')),
 ('2009', '06', '294_2009-06-30', Decimal('172993075')),
 ('2009', '06', '303_2009-06-30', Decimal('63888177')),
 ('2009', '06', '319_2009-06-30', Decimal('113431276')),
 ('2009', '06', '321_2009-06-30', Decimal('11929907')),
 ('2009', '06', '327_2009-06-30', Decimal('12373620')),
 ('2009', '06', '340_2009-06-30', Decimal('306289337')),
 ('2009', '06', '346_2009-06-30', Decimal('3157370')),
 ('2009', '06', '359_2009-06-30', Decimal('177848517')),
 ('2009', '06', '362_2009-06-30', Decimal('83531418')),
 ('2009', '06', '365_2009-06-30', Decimal('38883349')),
 ('2009', '06', '367_2009-06-30', Decimal('28127880')),
 ('2009', '06', '373_2009-06-30', Decimal('66406273')),
 ('2009', '06', '376_2009-06-30', Decimal('7125725')),
 ('2009', '06', '379_2009-06-30', Decimal('32238134')),
 ('2009', '06', '387_2009-06-30', Decimal('1830414')),
 ('2009', '06', '390_2009-06-30', Decimal('25180995')),
 ('2009', '06', '400_2009-06-30', Decimal('2025839')),
 ('2009', '06', '404_2009-06-30', Decimal('97875767')),
 ('2009', '06', '425_2009-06-30', Decimal('48407204')),
 ('2009', '06', '432_2009-06-30', Decimal('1558610')),
 ('2009', '06', '435_2009-06-30', Decimal('1100294109')),
 ('2009', '06', '444_2009-06-30', Decimal('12939790')),
 ('2009', '06', '454_2009-06-30', Decimal('578340')),
 ('2009', '06', '464_2009-06-30', Decimal('39906510')),
 ('2009', '06', '473_2009-06-30', Decimal('119428875')),
 ('2009', '06', '477_2009-06-30', Decimal('264398046')),
 ('2009', '06', '484_2009-06-30', Decimal('13012893')),
 ('2009', '06', '490_2009-06-30', Decimal('60241741')),
 ('2009', '06', '495_2009-06-30', Decimal('12984144')),
 ('2009', '06', '514_2009-06-30', Decimal('5572362')),
 ('2009', '06', '517_2009-06-30', Decimal('11795205')),
 ('2009', '06', '528_2009-06-30', Decimal('247121335')),
 ('2009', '06', '552_2009-06-30', Decimal('1412511')),
 ('2009', '06', '560_2009-06-30', Decimal('1897277')),
 ('2009', '06', '567_2009-06-30', Decimal('7813818')),
 ('2009', '06', '588_2009-06-30', Decimal('13751815')),
 ('2009', '06', '606_2009-06-30', Decimal('341687560')),
 ('2009', '06', '613_2009-06-30', Decimal('55043483')),
 ('2009', '06', '617_2009-06-30', Decimal('3972126')),
 ('2009', '06', '620_2009-06-30', Decimal('10647223')),
 ('2009', '06', '636_2009-06-30', Decimal('1916583')),
 ('2009', '06', '643_2009-06-30', Decimal('39650957')),
 ('2009', '06', '648_2009-06-30', Decimal('10437060')),
 ('2009', '06', '650_2009-06-30', Decimal('38602417')),
 ('2009', '06', '663_2009-06-30', Decimal('13527169')),
 ('2009', '06', '675_2009-06-30', Decimal('7263865')),
 ('2009', '06', '680_2009-06-30', Decimal('11155930')),
 ('2009', '06', '687_2009-06-30', Decimal('30871959')),
 ('2009', '06', '702_2009-06-30', Decimal('7160082')),
 ('2009', '06', '722_2009-06-30', Decimal('78659871')),
 ('2009', '06', '760_2009-06-30', Decimal('46535399')),
 ('2009', '06', '770_2009-06-30', Decimal('65462565')),
 ('2009', '06', '777_2009-06-30', Decimal('888800')),
 ('2009', '06', '785_2009-06-30', Decimal('59692621')),
 ('2009', '06', '795_2009-06-30', Decimal('4238744')),
 ('2009', '06', '808_2009-06-30', Decimal('577296794')),
 ('2009', '06', '818_2009-06-30', Decimal('12593954')),
 ('2009', '06', '830_2009-06-30', Decimal('16415437')),
 ('2009', '06', '832_2009-06-30', Decimal('23995366')),
 ('2009', '06', '839_2009-06-30', Decimal('43768983')),
 ('2009', '06', '843_2009-06-30', Decimal('1072347')),
 ('2009', '06', '850_2009-06-30', Decimal('44282662')),
 ('2009', '06', '854_2009-06-30', Decimal('114234735')),
 ('2009', '06', '856_2009-06-30', Decimal('21895564')),
 ('2009', '06', '858_2009-06-30', Decimal('24286657')),
 ('2009', '06', '871_2009-06-30', Decimal('60596607')),
 ('2009', '06', '876_2009-06-30', Decimal('27274675')),
 ('2009', '06', '887_2009-06-30', Decimal('78074631')),
 ('2009', '06', '898_2009-06-30', Decimal('5873513')),
 ('2009', '06', '903_2009-06-30', Decimal('23267515')),
 ('2009', '06', '909_2009-06-30', Decimal('37666231')),
 ('2009', '06', '911_2009-06-30', Decimal('145986790')),
 ('2009', '06', '921_2009-06-30', Decimal('869014')),
 ('2009', '06', '930_2009-06-30', Decimal('806388')),
 ('2009', '06', '934_2009-06-30', Decimal('1460526')),
 ('2009', '06', '945_2009-06-30', Decimal('1636203')),
 ('2009', '03', '5_2009-03-31', Decimal('35155441')),
 ('2009', '03', '12_2009-03-31', Decimal('44065732')),
 ('2009', '03', '16_2009-03-31', Decimal('7473480')),
 ('2009', '03', '22_2009-03-31', Decimal('183356327')),
 ('2009', '06', '948_2009-06-30', Decimal('917962474')),
 ('2009', '06', '960_2009-06-30', Decimal('112058263')),
 ('2009', '06', '967_2009-06-30', Decimal('112666162')),
 ('2009', '06', '986_2009-06-30', Decimal('6933923')),
 ('2009', '03', '28_2009-03-31', Decimal('402380031')),
 ('2009', '03', '37_2009-03-31', Decimal('445565')),
 ('2009', '03', '42_2009-03-31', Decimal('55355747')),
 ('2009', '03', '48_2009-03-31', Decimal('57080705')),
 ('2009', '03', '53_2009-03-31', Decimal('74969803')),
 ('2009', '03', '62_2009-03-31', Decimal('23123764')),
 ('2009', '03', '75_2009-03-31', Decimal('3741413')),
 ('2009', '03', '78_2009-03-31', Decimal('112048198')),
 ('2009', '03', '80_2009-03-31', Decimal('1489930754')),
 ('2009', '03', '82_2009-03-31', Decimal('243742523')),
 ('2009', '03', '90_2009-03-31', Decimal('11496863')),
 ('2009', '03', '92_2009-03-31', Decimal('4160381')),
 ('2009', '06', '989_2009-06-30', Decimal('32625656')),
 ('2009', '06', '1000_2009-06-30', Decimal('67102786')),
 ('2009', '06', '1015_2009-06-30', Decimal('186495912')),
 ('2009', '06', '1022_2009-06-30', Decimal('1464409491')),
 ('2009', '06', '1034_2009-06-30', Decimal('29222331')),
 ('2009', '06', '1047_2009-06-30', Decimal('36757324')),
 ('2009', '06', '1057_2009-06-30', Decimal('7691400')),
 ('2009', '06', '1062_2009-06-30', Decimal('1592870')),
 ('2009', '03', '107_2009-03-31', Decimal('56074922')),
 ('2009', '03', '110_2009-03-31', Decimal('7574683')),
 ('2009', '03', '118_2009-03-31', Decimal('71644556')),
 ('2009', '03', '120_2009-03-31', Decimal('81309495')),
 ('2009', '06', '1071_2009-06-30', Decimal('11967760')),
 ('2009', '06', '1077_2009-06-30', Decimal('34636879')),
 ('2009', '06', '1086_2009-06-30', Decimal('12260823')),
 ('2009', '06', '1101_2009-06-30', Decimal('8409726')),
 ('2009', '03', '135_2009-03-31', Decimal('55924680')),
 ('2009', '03', '146_2009-03-31', Decimal('3248410')),
 ('2009', '03', '149_2009-03-31', Decimal('2303674')),
 ('2009', '03', '151_2009-03-31', Decimal('443174583')),
 ('2009', '06', '1108_2009-06-30', Decimal('63824535')),
 ('2009', '06', '1113_2009-06-30', Decimal('9496509')),
 ('2009', '06', '1117_2009-06-30', Decimal('187620293')),
 ('2009', '06', '1127_2009-06-30', Decimal('62491228')),
 ('2009', '06', '1129_2009-06-30', Decimal('13754052')),
 ('2009', '06', '1131_2009-06-30', Decimal('12956933')),
 ('2009', '06', '1134_2009-06-30', Decimal('14369813')),
 ('2009', '06', '1151_2009-06-30', Decimal('163975551')),
 ('2009', '06', '1155_2009-06-30', Decimal('8554045')),
 ('2009', '06', '1166_2009-06-30', Decimal('15897496')),
 ('2009', '06', '1172_2009-06-30', Decimal('54501638')),
 ('2009', '06', '1193_2009-06-30', Decimal('13097002')),
 ('2009', '03', '153_2009-03-31', Decimal('1042990')),
 ('2009', '03', '158_2009-03-31', Decimal('21240517')),
 ('2009', '03', '162_2009-03-31', Decimal('152822280')),
 ('2009', '03', '167_2009-03-31', Decimal('148296746')),
 ('2009', '06', '1204_2009-06-30', Decimal('74174903')),
 ('2009', '06', '1213_2009-06-30', Decimal('153931314')),
 ('2009', '06', '1236_2009-06-30', Decimal('8334554')),
 ('2009', '06', '1245_2009-06-30', Decimal('56421429')),
 ('2009', '06', '1250_2009-06-30', Decimal('8068231')),
 ('2009', '06', '1257_2009-06-30', Decimal('32886392')),
 ('2009', '06', '1263_2009-06-30', Decimal('18080191')),
 ('2009', '06', '1282_2009-06-30', Decimal('8442812')),
 ('2009', '06', '1303_2009-06-30', Decimal('985000021')),
 ('2009', '06', '1309_2009-06-30', Decimal('64939018')),
 ('2009', '06', '1316_2009-06-30', Decimal('42609483')),
 ('2009', '06', '1339_2009-06-30', Decimal('25397014')),
 ('2009', '06', '1344_2009-06-30', Decimal('12480813')),
 ('2009', '06', '1351_2009-06-30', Decimal('29799140')),
 ('2009', '06', '1353_2009-06-30', Decimal('23403696')),
 ('2009', '06', '1367_2009-06-30', Decimal('1067183412')),
 ('2009', '03', '169_2009-03-31', Decimal('2130726')),
 ('2009', '03', '176_2009-03-31', Decimal('672091969')),
 ('2009', '03', '181_2009-03-31', Decimal('3941157')),
 ('2009', '03', '187_2009-03-31', Decimal('22519690')),
 ('2009', '06', '1374_2009-06-30', Decimal('893213')),
 ('2009', '06', '1383_2009-06-30', Decimal('33323334')),
 ('2009', '06', '1397_2009-06-30', Decimal('17424269')),
 ('2009', '06', '1401_2009-06-30', Decimal('39969293')),
 ('2009', '03', '195_2009-03-31', Decimal('11485713')),
 ('2009', '03', '198_2009-03-31', Decimal('42033757')),
 ('2009', '03', '200_2009-03-31', Decimal('8993689')),
 ('2009', '03', '216_2009-03-31', Decimal('51405931')),
 ('2009', '06', '1407_2009-06-30', Decimal('138328604')),
 ('2009', '06', '1410_2009-06-30', Decimal('132102905')),

In [11]:
df = _.DataFrame()
df

        year quarter       cu_num_date   acct_997
0       2009      03      5_2009-03-31    4186254
1       2009      03     12_2009-03-31    4313128
2       2009      03     16_2009-03-31    1206221
3       2009      03     22_2009-03-31   20810214
4       2009      03     28_2009-03-31   34761737
5       2009      03     37_2009-03-31      93513
6       2009      03     42_2009-03-31    5071208
7       2009      03     48_2009-03-31   10734444
8       2009      03     53_2009-03-31    8825219
9       2009      03     62_2009-03-31    3728928
10      2009      03     75_2009-03-31     639425
11      2009      03     78_2009-03-31   10610405
12      2009      03     80_2009-03-31  102888217
13      2009      03     82_2009-03-31    9010604
14      2009      03     90_2009-03-31    4523569
15      2009      03     92_2009-03-31     764370
16      2009      03    107_2009-03-31    9521105
17      2009      03    110_2009-03-31     691223
18      2009      03    118_2009-03-31    7249648
19      2009      03    120_2009-03-31   10492620
20      2009      03    135_2009-03-31    4278756
21      2009      03    146_2009-03-31     331860
22      2009      03    149_2009-03-31     288484
23      2009      03    151_2009-03-31   32141011
24      2009      03    153_2009-03-31     198445
25      2009      03    158_2009-03-31    4406414
26      2009      03    162_2009-03-31   10693627
27      2009      03    167_2009-03-31   11233519
28      2009      03    169_2009-03-31     590431
29      2009      03    176_2009-03-31  162993493
...      ...     ...               ...        ...
466072  2017      03  96706_2017-03-31    2517767
466073  2017      03  96711_2017-03-31    3827896
466074  2017      03  96719_2017-03-31     971723
466075  2017      03  96723_2017-03-31   23425382
466076  2017      03  96738_2017-03-31     318148
466077  2017      03  96753_2017-03-31   27559816
466078  2017      03  96756_2017-03-31    4480520
466079  2017      03  96765_2017-03-31     653111
466080  2017      03  96770_2017-03-31     115839
466081  2017      03  96793_2017-03-31     343001
466082  2017      03  96799_2017-03-31     643249
466083  2017      03  96808_2017-03-31    5950661
466084  2017      03  96821_2017-03-31     320590
466085  2017      03  97053_2017-03-31    2565144
466086  2017      03  97059_2017-03-31   43419400
466087  2017      03  97066_2017-03-31     472981
466088  2017      03  97069_2017-03-31  104416310
466089  2017      03  97073_2017-03-31    5474116
466090  2017      03  97077_2017-03-31    4075705
466091  2017      03  97079_2017-03-31    8056086
466092  2017      03  97084_2017-03-31   27045597
466093  2017      03  97086_2017-03-31   28484266
466094  2017      03  97091_2017-03-31    1965469
466095  2017      03  97093_2017-03-31   34638880
466096  2017      03  97095_2017-03-31    7906385
466097  2017      03  97097_2017-03-31    6110056
466098  2017      03  97099_2017-03-31    5087087
466099  2017      03  97101_2017-03-31   47673873
466100  2017      03  97103_2017-03-31   35021805
466101  2017      03  97105_2017-03-31    8935108

[466102 rows x 4 columns]

In [7]:
df.head()

    year quarter    cu_num_date  acct_997
0  20090      03   1_2009-03-31    987417
1  20090      03   6_2009-03-31   9495464
2  20090      03  13_2009-03-31  27142323
3  20090      03  19_2009-03-31   2715794
4  20090      03  26_2009-03-31   1775183

In [ ]:
#to do fix the 2009 thing
#make the string print out well // pipe it 
#write up functions and documentation for them 
#make the one funciton so don't have to strip the stringin diffeent places every time

In [28]:
# import psycopg2
# import pandas as pd
# import numpy as np

# connect_to_db = 'postgresql+psycopg2://' + \
#                 'arkauser' + ':' + 'Password1' + '@' + \
#                 'arkatestcluster.cpjywwj3yist.us-west-2.redshift.amazonaws.com' + ':' + '5439' + '/' + 'awesomedatabase';

# query ='select CU_NUM_DATE, ACCT_997 from fs220A;'
# conn_string = connect_to_db
# conn = psycopg2.connect(conn_string)
# cursor = conn.cursor()
# cursor.execute(query)
# rows=pd.DataFrame(cursor.fetchall(),columns=['CuNumDate','997'])

# for row in rows:
#    print(row)

# conn.commit();
# conn.close();

NameError: name 'conn' is not defined

In [10]:
def readStatements(filename):
    file = open(filename,'r')
    content = []
    for l in file.readlines():
        content.append(l)
    return content

In [8]:
import os
os.getcwd()

'C:\\Users\\Owner\\Documents\\PRACTICUM PROJECTS\\Arkatechture'

In [11]:
myList = readStatements('copy.txt')

In [17]:
print(myList[2])

copy fs220 from's3://arkatestbucket/load/fs220-csv.' credentialsarn:aws:iam::886264772629:role/Arkatest csv IGNOREHEADER 1 null as '\000';