In [1]:
import pandas as pd
import glob, os
import re
import fnmatch

## This will prepare the FDIC data for the Redshift database (even though it says that it does it for the NCUA data. 
    1) Goes to the directory where all the files are stored
        a. Searches through all the files that contain fs220
        b. Append the endings of these files to a list [fs220A, fs220B, fs220C, etc...]
        c. Get the unique endings from that list by taking the set()
        d. Now we have all the unique endings (we will make a seperate table in our Redshift Database for each)
        
    2) For each ending, we find the most recent year and month of the reported data 
       This is needed to get the latest_vars variable
        a. First it finds most recent year reported for that ending (for loop with > comparisons)
        b. Then it finds most recent month reported in that year for that ending (for loop with > comparisons)
        c. It appends each year and month combination for each ending to lists
          (*NOTE: this is necessary as there is not a universal latest year and month for each ending. 
          For example, fs220E does not report in 201706, but instead, its last reporting is in 201606)
          
    3) Using the zip() function, we can iterate over three lists at a time (ending list, latest year list, latest month list) 
         a. We get the latest vars for that ending
         b. We then run through the main loop with that ending and complete the steps as before:
            i.    Reads in all fs220(ending) files 
            ii.   Makes all the column names uppercase
            iii.  Compares columns names to columns names of the latest variables using list comprehension
            iv.   If df is missing latest columns, includes them and fills with NaN, this is to maintain order - COPY into 
                  Redshift
            v.    Adds an ORDERS column which is a sequential index
            vi.   Adds a unique identifier with CU_NUM_DATE 
            vii.  Adds two columns, QUARTER, and YEAR, in case we may use these to query later on
            viii. Final structure is all df's(all years, months, and endings) with all the latest columns in a dictionary 
                  The df's are all "standardized"
                  If latest column doesn't exist in the original df, it is filled with NaN's. 
                  (*NOTE: we made need to change what it is filled in with here since NaN is a float and we really want   
                  NULL/None for Redshift Database to read correctly)
    
    4) Write all the dictionary files to a new folder to load into AWS S3 bucket 
       Add naming convention of same prefix for each file.
       Example: fs220A-csv. is prefix for all fs220A files (all years and months)

### Code

In [2]:
# Get columns names for all reports in the data lake.
path='C:/Analytics/DATA911/Arkatechture/FDIC_Data/FDIC_Lake/'
os.chdir(path)
filelist=[]
dict_={}
startvalue=1
prefix='All_Reports_'
day_dict={'03':'31','06':'30','09':'30','12':'31'}

unique_endings=[]
# All_Reports_ is the prefix for the FDIC files. Get list of all that are in
# the FDIC data lake. Then get the unique endings -- i.e., filenames.
for file in glob.glob("All_Reports_*"):
    unique_endings.append(file.split("_")[-1].split(".")[0])    
unique_endings=set(unique_endings)

# Find the last year and date reported.  Note that the first part of
# the unique file endings is the date in the form yyyymmdd.
last_year_list=[]
last_month_list=[]
for ending in unique_endings:
    last_year_reported='2000'
    last_month_reported=3
    for file in glob.glob("*"+ending+'.csv'):
        latest_year=file[12:16]
        latest_year_int=int(latest_year)
        if latest_year_int > int(last_year_reported):
            last_year_reported = str(latest_year_int)
    last_year_list.append(last_year_reported)
    for file in glob.glob("*"+last_year_reported+"*"+ending+'.csv'):
        latest_month=file[16:18]
        len_s=len(latest_month)
        latest_month_int=int(latest_month)
        if latest_month_int > int(last_month_reported):
                last_month_reported = str(latest_month_int).rjust(len_s, "0")
    last_month_list.append(last_month_reported)


for ending,year,month in zip(unique_endings, last_year_list, last_month_list):
    #print(year,month,ending)
    latest_csv=pd.read_csv(path+prefix+year+month+day_dict[month]+'_'+ending+'.csv', encoding='latin1', dtype=object)#/most_recent+ending
    latest_csv.columns=map(str.upper, latest_csv.columns)
    latest_vars=latest_csv.columns.tolist()

    for file in glob.glob("*_"+ending+".csv"):#200903_fs220.csv
        filename = file[:-4]
        filelist.append(filename)
        dict_[filename] = pd.read_csv(file, encoding='latin1', dtype=object)
        dict_[filename].columns = map(str.upper, dict_[filename].columns)
        set1=dict_[filename].columns.tolist()
        set2=latest_vars
        to_add=[x for x in set2 if x not in set1]
        columns=dict_[filename].columns.tolist()
        dict_[filename]=dict_[filename].reindex(columns=[*dict_[filename].columns.tolist(), *to_add], fill_value='nan')
        dict_[filename]=dict_[filename].reindex_axis(columns+to_add, axis=1)
        dict_[filename].insert(0, 'ORDER', range(startvalue, startvalue + len(dict_[filename])))
        startvalue+=len(dict_[filename])
        dict_[filename].insert(1, 'FED_RSSD_REPDTE', dict_[filename]['FED_RSSD'].astype(str)+
                      '_'+pd.to_datetime(dict_[filename]['REPDTE']).dt.date.astype(str))
        dict_[filename].insert(2, 'QUARTER', filename[16:18])
        dict_[filename].insert(3, 'YEAR', filename[12:16])

### Code turned into funtion -- this code was not modified for FDIC.
    Same as above, just a function. All you have to do is input the 'path' where all your files are located. 
    Dict_ is returned. As seen here, we resave it as the variable dict_.

In [ ]:
def prepare_files(path):
    path=path
    os.chdir(path)
    filelist=[]
    dict_={}
    startvalue=1

    unique_endings=[]
    for file in glob.glob("*_fs220*"):
        unique_endings.append(file.split("_")[-1].split(".")[0])
    unique_endings=set(unique_endings)


    last_year_list=[]
    last_month_list=[]
    for ending in unique_endings:
        last_year_reported='2000'
        last_month_reported=3
        for file in glob.glob("*"+ending+'.csv'):
            latest_year=file[0:4]
            latest_year_int=int(latest_year)
            if latest_year_int > int(last_year_reported):
                last_year_reported = str(latest_year_int)
        last_year_list.append(last_year_reported)
        for file in glob.glob(last_year_reported+"*"+ending+'.csv'):
                latest_month=file[4:6]
                len_s=len(latest_month)
                latest_month_int=int(latest_month)
                if latest_month_int > int(last_month_reported):
                    last_month_reported = str(latest_month_int).rjust(len_s, "0")
                    last_month_list.append(last_month_reported)


    for ending,year,month in zip(unique_endings, last_year_list, last_month_list):
        #print(year,month,ending)
        latest_csv=pd.read_csv(path+year+month+'_'+ending+'.csv', encoding='latin1', dtype=object)#/most_recent+ending
        latest_csv.columns=map(str.upper, latest_csv.columns)
        latest_vars=latest_csv.columns.tolist()

        for file in glob.glob("*_"+ending+".csv"):#200903_fs220.csv
            filename = file[:-4]
            filelist.append(filename)
            dict_[filename] = pd.read_csv(file, encoding='latin1', dtype=object)
            dict_[filename].columns = map(str.upper, dict_[filename].columns)
            set1=dict_[filename].columns.tolist()
            set2=latest_vars
            to_add=[x for x in set2 if x not in set1]
            columns=dict_[filename].columns.tolist()
            dict_[filename]=dict_[filename].reindex(columns=[*dict_[filename].columns.tolist(), *to_add], fill_value='nan')
            dict_[filename]=dict_[filename].reindex_axis(columns+to_add, axis=1)
            dict_[filename].insert(0, 'ORDERS', range(startvalue, startvalue + len(dict_[filename])))
            startvalue+=len(dict_[filename])
            dict_[filename].insert(1, 'CU_NUM_DATE', dict_[filename]['CU_NUMBER'].astype(str)+'_'+pd.to_datetime(dict_[filename]['CYCLE_DATE']).dt.date.astype(str))
            dict_[filename].insert(2, 'QUARTER', filename[4:6])
            dict_[filename].insert(3, 'YEAR', filename[:-8])
    return dict_

In [ ]:
# Function to do upper cells.  (DO NOT RUN)
dict_=prepare_files('C:/Users/Owner/Documents/Practicum Projects/Arkatechture/NCUA_csv_2009_2017/')

In [66]:
dict_['All_Reports_20100331_Cash Dividends']

,ORDER,FED_RSSD_REPDTE,QUARTER,YEAR,CERT,DOCKET,FED_RSSD,RSSDHCR,NAME,CITY,...,FLDOFF,FED,OCCDIST,OTSREGNM,OFFOA,CB,INST.WEBADDR,EQCDIV,EQCDIVP,EQCDIVC
0,1,3317192_2010-03-31,03,2010,57899,0,3317192,3370517,1st Advantage Bank,Saint Peters,...,St. Louis,St. louis,Western,West,0,1,www.1stadvantagebank.com,0,0,0
1,2,564856_2010-03-31,03,2010,22039,0,564856,1128415,1st Bank,Sidney,...,Billings,Minneapolis,Western,West,0,1,www.our1stbank.com,40,0,40
2,3,888253_2010-03-31,03,2010,16522,0,888253,2003975,1ST BANK,Evanston,...,Salt Lake City,Kansas City,Western,West,0,0,NaN,0,0,0
3,4,419255_2010-03-31,03,2010,16419,17301,419255,1055780,1st Bank & Trust,Broken Bow,...,Tulsa,Kansas City,Southern,West,0,1,http://www/1stbankandtrust.com,350,0,350
4,5,148470_2010-03-31,03,2010,30367,5236,148470,0,1st Bank of Sea Isle City,Sea Isle City,...,Jamesburg,Philadelphia,Northeastern,Northeast,0,1,www.1stbankseaisle.com,0,0,0
5,6,488055_2010-03-31,03,2010,4788,0,488055,1055904,1st Bank of Troy,Troy,...,Kansas City,Kansas City,Western,Western,0,1,NaN,35,0,35
6,7,589671_2010-03-31,03,2010,31826,7509,589671,1058165,1st Bank Oklahoma,Claremore,...,Tulsa,Kansas City,Southern,West,0,1,NaN,0,0,0
7,8,3048487_2010-03-31,03,2010,57298,0,3048487,3559844,1st Bank Yuma,Yuma,...,Phoenix,San Francisco,Western,Western,0,1,http://www.1stbankyuma.com,0,0,0
8,9,941653_2010-03-31,03,2010,32487,8322,941653,1064791,1st Cameron State Bank,Cameron,...,Kansas City,Kansas City,Western,West,0,1,www.1stcameron.com,0,0,0
9,10,3594797_2010-03-31,03,2010,58485,0,3594797,0,1st Capital Bank,Monterey,...,San Francisco,San Francisco,Western,Western,0,1,www.1stcapital.bank,0,0,0
10,11,3247598_2010-03-31,03,2010,57657,0,3247598,3602236,"1st Century Bank, National Association",Los Angeles,...,Los Angeles (West),San Francisco,Western,Western,0,1,NaN,0,0,0
11,12,2920773_2010-03-31,03,2010,35456,0,2920773,3118513,1st Colonial National Bank,Collingswood,...,Jamesburg,Philadelphia,Northeastern,Northeast,0,1,http://www.1stcolonial.com,0,0,0
12,13,3465383_2010-03-31,03,2010,58358,0,3465383,1247334,1st Commerce Bank,North Las Vegas,...,Phoenix,San Francisco,Western,West,0,0,NaN,0,0,0
13,14,3688678_2010-03-31,03,2010,58773,18086,3688678,0,1st Commonwealth Bank of Virginia,Arlington,...,Richmond,Richmond,Northeastern,Southeast,0,1,NaN,0,0,0
14,15,338945_2010-03-31,03,2010,11706,12404,338945,1204083,1st Community Bank,Sherrard,...,Springfield Il,Chicago,Central,Central,0,1,http://www.1stcommunitybanks.com,500,0,500
15,16,1412619_2010-03-31,03,2010,27552,10064,1412619,2784920,1st Constitution Bank,Cranbury,...,Jamesburg,New York,Northeastern,Northeast,0,1,www.1stconstitution.com,0,0,0
16,17,3452123_2010-03-31,03,2010,58321,0,3452123,0,1st Enterprise Bank,Los Angeles,...,Los Angeles (North),San Francisco,Western,Western,0,1,NaN,113,113,0
17,18,2531562_2010-03-31,03,2010,34393,0,2531562,2531553,1st Equity Bank,Skokie,...,Chicago,Chicago,Central,Central,0,1,NaN,131,0,131
18,19,3203996_2010-03-31,03,2010,57611,0,3203996,3203987,1st Equity Bank Northwest,Buffalo Grove,...,Chicago,Chicago,Central,Central,0,1,NaN,45,0,45
19,20,50957_2010-03-31,03,2010,1149,15588,50957,3347809,1st Financial Bank,Overland Park,...,Kansas City,Kansas City,Western,Western,0,1,http://www.alterrabank.com,0,0,0
20,21,526452_2010-03-31,03,2010,1673,0,526452,0,1st Financial Bank USA,Dakota Dunes,...,Sioux Falls,Minneapolis,Western,West,0,0,http://www.1fbusa.com,0,0,0
21,22,3655081_2010-03-31,03,2010,58548,0,3655081,0,1st Manatee Bank,Parrish,...,Tampa,Atlanta,Southern,Southeast,0,1,WWW.1STMANATEE.COM,0,0,0
22,23,480723_2010-03-31,03,2010,6646,8805,480723,0,1st National Bank,Lebanon,...,Cincinnati,Cleveland,Central,Central,0,1,WWW.BANKWITH1ST.COM,0,0,0
23,24,737632_2010-03-31,03,2010,3564,11706,737632,3437782,1st National Bank of South Florida,Homestead,...,South Florida,Atlanta,Southern,Southeast,0,1,NaN,0,0,0
24,25,1000511_2010-03-31,03,2010,26977,10790,1000511,2421896,1st National Community Bank,East Liverpool,...,Columbus,Cleveland,Central,Central,0,1,NaN,100,0,100
25,26,2912367_2010-03-31,03,2010,35517,0,2912367,3487367,1st Pacific Bank of California,San Diego,...,Orange,San Francisco,Western,Western,0,1,NaN,0,0,0
26,27,2998660_2010-03-31,03,2010,57157,0,2998660,2998651,1st Regents Bank,Andover,...,Minneapolis,Minneapolis,Central,West,0,1,NaN,0,0,0
27,28,1018927_2010-03-31,03,2010,57633,0,1018927,0,1st Security Bank of Washington,Mountlake Terrac,...,Seattle,San Francisco,Western,West,0,1,WWW.FSBWA.COM,0,0,0
28,29,991340_2010-03-31,03,2010,9087,10250,991340,1199602,1st Source Bank,South Bend,...,Indianapolis,Chicago,Central,Central,0,0,www.1stsource.com,6199,0,6199
29,30,3223305_2010-03-31,03,2010,57626,0,3223305,3223293,1st State Bank,Saginaw,...,Detroit,Chicago,Central,Central,0,1,www.1ststatebk.com,6,6,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7913,7914,97279_2010-03-31,03,2010,32292,8103,97279,0,Woodsfield Savings Bank,Woodsfield,...,Columbus,Cleveland,Central,Central,0,1,www.woodsfieldsavings.com,16,0,16
7914,7915,477303_2010-03-31,03,2010,18031,10227,477303,2637820,Woodsville Guaranty Savings Bank,Woodsville,...,Concord,Boston,Northeastern,Northeast,0,1,http://www.theguarantybank.com,240,0,240
7915,7916,833749_2010-03-31,03,2010,5335,13592,833749,1020582,"WOODTRUST BANK, N. A.",Wisconsin Rapids,...,Appleton,Chicago,Central,Central,0,1,www.woodtrust.com,1694,0,1694
7916,7917,384018_2010-03-31,03,2010,24920,0,384018,3179514,Woori America Bank,New York,...,New York City,New York,Northeastern,Northeast,0,0,WWW.WOORIAMERICABANK.COM,0,0,0
7917,7918,3224580_2010-03-31,03,2010,57570,0,3224580,0,World Financial Capital Bank,Salt Lake City,...,Salt Lake City,San Francisco,Western,West,0,0,NaN,0,0,0
7918,7919,1391778_2010-03-31,03,2010,27499,0,1391778,0,World Financial Network National Bank,Columbus,...,Claymont,Cleveland,Central,Central,0,0,www.comenity.net,0,0,0
7919,7920,2931603_2010-03-31,03,2010,57079,0,2931603,0,World's Foremost Bank,Sidney,...,Omaha,Kansas City,Western,West,0,0,www.cabelas.com,0,0,0
7920,7921,626370_2010-03-31,03,2010,32649,8569,626370,0,Worthington Federal Bank,Huntsville,...,Shelby,Atlanta,Southern,Southeast,0,1,NaN,0,0,0
7921,7922,258874_2010-03-31,03,2010,29426,3435,258874,0,"Worthington Federal Savings Bank, FSB",Worthington,...,Sioux Falls,Minneapolis,Central,West,0,1,www.worthingtonfederalsavings.com,0,0,0
7922,7923,3150205_2010-03-31,03,2010,57414,0,3150205,0,Worthington National Bank,Arlington,...,Dallas,Dallas,Southern,West,0,1,http://www.worthingtonbank.com,0,0,0
7923,7924,3815595_2010-03-31,03,2010,58829,18100,3815595,0,"WPS Community Bank, FSB",Madison,...,Madison,Chicago,Central,Central,0,1,NaN,0,0,0
7924,7925,541754_2010-03-31,03,2010,22447,0,541754,3685891,Wray State Bank,Wray,...,Denver,Kansas City,Western,Western,0,1,http://www.wraystatebank.com,0,0,0
7925,7926,948278_2010-03-31,03,2010,26576,0,948278,0,Wrentham Co-operative Bank,Wrentham,...,South Boston,Boston,Northeastern,Northeast,0,1,http://www.wrenthamcoop.com,0,0,0
7926,7927,2700984_2010-03-31,03,2010,34697,0,2700984,0,Wright Express Financial Services Corporation,Midvale,...,Salt Lake City,San Francisco,Western,West,0,0,http://www.wexinc.com,6000,0,6000
7927,7928,858818_2010-03-31,03,2010,7274,0,858818,0,WSB Municipal Bank,Watertown,...,Syracuse,New York,Northeastern,Northeast,0,0,www.watertownsavingsbank.com,0,0,0
7928,7929,64150_2010-03-31,03,2010,8718,16051,64150,1061996,Wyoming Bank & Trust,Cheyenne,...,Billings,Kansas City,Western,West,0,1,http://www.wyomingbank.bank,233,0,233
7929,7930,2806840_2010-03-31,03,2010,35220,0,2806840,2910970,Wyoming National Bank,Riverton,...,Billings,Kansas City,Western,West,0,1,http://www.wyocb.com,0,0,0
7930,7931,3445460_2010-03-31,03,2010,58395,0,3445460,3550962,Wyoming State Bank,Laramie,...,Billings,Kansas City,Western,West,0,1,http://www.wsb.bank,90,0,90
7931,7932,3153288_2010-03-31,03,2010,57487,0,3153288,3559657,Xenith Bank,Richmond,...,Richmond,Richmond,Northeastern,Southeast,0,1,NaN,0,0,0
7932,7933,282329_2010-03-31,03,2010,19861,12580,282329,3432965,Yadkin Valley Bank and Trust Company,Elkin,...,Charlotte,Richmond,Northeastern,Southeast,0,0,www.yadkinbank.com,0,0,0
7933,7934,809771_2010-03-31,03,2010,28116,921,809771,0,Yakima Federal Savings and Loan Association,Yakima,...,Seattle,San Francisco,Western,West,0,1,yakimafed.com,0,0,0
7934,7935,2599478_2010-03-31,03,2010,34402,15409,2599478,3030914,Yakima National Bank,Yakima,...,Seattle,San Francisco,Western,West,0,1,NaN,53,0,53
7935,7936,2806635_2010-03-31,03,2010,35407,52378,2806635,2942869,Yampa Valley Bank,Steamboat Spring,...,Denver,Kansas City,Western,Western,0,1,www.yampavalleybank.com,278,0,278
7936,7937,731050_2010-03-31,03,2010,16079,0,731050,1066209,York State Bank and Trust Company,York,...,Grand Island,Kansas City,Western,West,0,0,yorkstatebank.com,0,0,0
7937,7938,3145797_2010-03-31,03,2010,57377,0,3145797,0,York Traditions Bank,York,...,Harrisburg,Philadelphia,Northeastern,Northeast,0,1,http://www.yorktraditionsbank.com,66,66,0
7938,7939,67254_2010-03-31,03,2010,27010,0,67254,1840883,Young Americans Bank,Denver,...,Denver,Kansas City,Western,Western,0,1,http://www.yacenter.org,0,0,0
7939,7940,54375_2010-03-31,03,2010,28915,2611,54375,2356073,Your Community Bank,New Albany,...,Indianapolis,St. louis,Central,Central,0,1,NaN,0,0,0
7940,7941,218261_2010-03-31,03,2010,18454,0,218261,1107223,Zapata National Bank,Zapata,...,Houston,Dallas,Southern,West,0,1,zapatanationalbank.com,250,0,250
7941,7942,969956_2010-03-31,03,2010,15105,15440,969956,0,Zavala County Bank,Crystal City,...,Austin,Dallas,Southern,West,0,1,http://www.zcbank.com,0,0,0
7942,7943,276579_2010-03-31,03,2010,2270,8926,276579,1027004,Zions First National Bank,Salt Lake City,...,Salt Lake City,San Francisco,Western,West,0,0,https://www.zionsbank.com,0,0,0

### Final Step: Write all standardized files to new folder for S3 load

In [3]:
# file_path='C:/Analytics/DATA911/Arkatechture/FDIC_Data/S3/'
# directory = os.path.dirname(file_path)
for key in dict_.keys():
    dict_[key].to_csv('C:/Analytics/DATA911/Arkatechture/FDIC_Data/S3/{}.csv'.format(key.split("_")[-1]+'-csv.'+key), index=False)