In [16]:
from os import listdir
from os.path import isfile, join
import os
import csv
cuDirectory = "C:/Users/Owner/Documents/PRACTICUM PROJECTS/Arkatechture/NCUA_csv_2009_2017"

features = list()
tmp =0
#Get all sub directories 
for x in os.walk(cuDirectory):
    for file in x[2]:
        if "fs" in file:
            tmp = tmp +1
            with open(cuDirectory+"/"+file, 'r') as f:
                if 'fs220B' in file:
                    print(file)
                    d_reader = csv.DictReader(f)
                    #get fieldnames from DictReader object and store in list
                    headers = d_reader.fieldnames
                    for h in headers:
                        if h not in features:
                            features.append(h)

200903_fs220B.csv
200906_fs220B.csv
200909_fs220B.csv
200912_fs220B.csv
201003_fs220B.csv
201006_fs220B.csv
201009_fs220B.csv
201012_fs220B.csv
201103_fs220B.csv
201106_fs220B.csv
201109_fs220B.csv
201112_fs220B.csv
201203_fs220B.csv
201206_fs220B.csv
201209_fs220B.csv
201212_fs220B.csv
201303_fs220B.csv
201306_fs220B.csv
201309_fs220B.csv
201312_fs220B.csv
201403_fs220B.csv
201406_fs220B.csv
201409_fs220B.csv
201412_fs220B.csv
201503_fs220B.csv
201506_fs220B.csv
201509_fs220B.csv
201512_fs220B.csv
201603_fs220B.csv
201606_fs220B.csv
201609_fs220B.csv
201612_fs220B.csv
201703_fs220B.csv
201706_fs220B.csv

In [15]:
import pandas as pd
import glob, os
import csv, ast, psycopg2
from NCUAfunctions import *

### Creating the 'CREATE' Statement
    1. Infer the datatype of the columns from latest year
    2. Write the create statement
    3. Loop through all the latest year fs220X files

In [79]:
def dataType(val, current_type):
    try:
        # Evaluates numbers to an appropriate type, and strings an error
        t = ast.literal_eval(val)
        #print(type(t))
    except ValueError:
       # print("val error")
        return 'varchar'
    except SyntaxError:
       # print('syntax error')
        return 'varchar'
    if type(t) in [int, float]:
        #return 'varchar'
#         if (type(t) in [int]) and current_type not in ['float', 'varchar']:
#            # Use smallest possible int type
#             if (-32768 < t < 32767) and current_type not in ['int', 'bigint']:
#                 return 'varchar'#smallint
#             elif (-2147483648 < t < 2147483647) and current_type not in ['bigint']:
#                 return 'varchar'#int
#             else:
#                 return 'bigint'

       # print( type(t), current_type)
        if type(t) is int and current_type not in ['varchar']:
           # print('decimal')
            return 'decimal'
        else: 
           # print('else varchar')
            return'varchar'
    else:
       # print('last varchar')
        return 'varchar'

In [89]:
def createTable(recentFile, ending):
    
    f = open(recentFile, 'r')#.read().split('\n')
    reader = csv.reader(f)
    longest, headers, type_list = [], [], []
  #  headers = features
  #  for x in headers:
    #    longest.append(0)
     #   type_list.append('')
    
    firstLine = True
    for row in reader:
        if firstLine:
            firstLine = False
        if len(headers) == 0:
            headers = row
            for col in row:
                longest.append(0)
                type_list.append('')
        else:
            for i in range(len(row)):
            # NA is the csv null value
                if type_list[i] == 'varchar' or row[i] == 'NA':
                    pass
                else:
                    var_type = dataType(row[i], type_list[i])
                    #print(var_type)
                    
                    type_list[i] = var_type
            if len(row[i]) > longest[i]:
                longest[i] = len(row[i])
        #f.close()

    statement = 'create table {} ( \n'.format(ending)

    for i in range(len(headers)):
        if type_list[i] == 'varchar':
            statement = (statement + '{} varchar(255), \n').format(headers[i].upper())
            
        else:
            statement = (statement + '{} {}' + ', \n').format(headers[i].upper(), type_list[i])
    print(statement)
    return statement[:-3] + ');'

In [87]:
file_to_read, unique_endings=getReadFiles("C:/Users/Owner/Documents/PRACTICUM PROJECTS/Arkatechture/NCUS_csv/fs_files_database/")

In [90]:
create_dict_={}

for ending, file in zip(unique_endings, file_to_read):
    #print (ending, file)
    create_table_statement=createTable(file, ending)
    create_dict_[ending]=create_table_statement

create table fs220B (
ORDERS decimal,
CU_NUM_DATE varchar(255),
QUARTER varchar(255),
YEAR decimal,
CU_NUMBER decimal,
CYCLE_DATE varchar(255),
JOIN_NUMBER decimal,
ACCT_606A decimal,
ACCT_606B decimal,
ACCT_607 decimal,
ACCT_608 decimal,
ACCT_609 decimal,
ACCT_620 decimal,
ACCT_621 decimal,
ACCT_622 decimal,
ACCT_623 decimal,
ACCT_624 decimal,
ACCT_625 decimal,
ACCT_626 decimal,
ACCT_627 decimal,
ACCT_628 decimal,
ACCT_630A decimal,
ACCT_630B1 decimal,
ACCT_630B2 decimal,
ACCT_640 decimal,
ACCT_652C decimal,
ACCT_653A decimal,
ACCT_653B1 decimal,
ACCT_653B2 decimal,
ACCT_653C decimal,
ACCT_655C decimal,
ACCT_656A decimal,
ACCT_656B1 decimal,
ACCT_656B2 decimal,
ACCT_657A decimal,
ACCT_657B1 decimal,
ACCT_657B2 decimal,
ACCT_659 decimal,
ACCT_660 decimal,
ACCT_661 decimal,
ACCT_670A decimal,
ACCT_670B decimal,
ACCT_672C decimal,
ACCT_698 decimal,
ACCT_709 decimal,
ACCT_725 decimal,
ACCT_726 decimal,
ACCT_731 decimal,
ACCT_732 decimal,
ACCT_733 decimal,
ACCT_734 decimal,
ACCT_735 decimal,
ACCT_736 decimal,
ACCT_737 decimal,
ACCT_741C decimal,
ACCT_742C decimal,
ACCT_746C decimal,
ACCT_747A decimal,
ACCT_747B1 decimal,
ACCT_747B2 decimal,
ACCT_747C decimal,
ACCT_750C decimal,
ACCT_752 decimal,
ACCT_753 decimal,
ACCT_754 decimal,
ACCT_756 decimal,
ACCT_757 decimal,
ACCT_758 decimal,
ACCT_760A decimal,
ACCT_760B1 decimal,
ACCT_760B2 decimal,
ACCT_761A decimal,
ACCT_761B1 decimal,
ACCT_761B2 decimal,
ACCT_770 decimal,
ACCT_772 decimal,
ACCT_773 decimal,
ACCT_774 decimal,
ACCT_776 decimal,
ACCT_777 decimal,
ACCT_778 decimal,
ACCT_780 decimal,
ACCT_781 decimal,
ACCT_795 decimal,
ACCT_799 decimal,
ACCT_811 decimal,
ACCT_812 decimal,
ACCT_813 decimal,
ACCT_814 decimal,
ACCT_815 decimal,
ACCT_816 decimal,
ACCT_817 decimal,
ACCT_818 decimal,
ACCT_820 decimal,
ACCT_821 decimal,
ACCT_850 decimal,
ACCT_860A decimal,
ACCT_860B1 decimal,
ACCT_860B2 decimal,
ACCT_865 decimal,
ACCT_880A decimal,
ACCT_880B1 decimal,
ACCT_880B2 decimal,
ACCT_900 decimal,
ACCT_902A decimal,
ACCT_902B1 decimal,
ACCT_902B2 decimal,
ACCT_906B1 decimal,
ACCT_906B2 decimal,
ACCT_906C decimal,
ACCT_908B1 decimal,
ACCT_908B2 decimal,
ACCT_911A decimal,
ACCT_911B1 decimal,
ACCT_911B2 decimal,
ACCT_913 decimal,
ACCT_914 decimal,
ACCT_955 decimal,
ACCT_956 decimal,
ACCT_957 decimal,
ACCT_958 decimal,
ACCT_961 decimal,
ACCT_962 decimal,
ACCT_963 decimal,
ACCT_964 decimal,
ACCT_965 decimal,
ACCT_966 decimal,
ACCT_970 decimal,
ACCT_971 decimal,
ACCT_972 decimal,
ACCT_974 decimal,
ACCT_977 decimal,
ACCT_978 decimal,
ACCT_982 decimal,
ACCT_983 decimal,
ACCT_984 decimal,
ACCT_985 decimal,
ACCT_986 decimal,
ACCT_987 decimal,
ACCT_988 decimal,
ACCT_990 decimal,
ACCT_992 decimal,
ACCT_993 decimal,
ACCT_994 decimal,
ACCT_995 decimal,
ACCT_603 decimal,
ACCT_743C decimal,
ACCT_744A decimal,
ACCT_744B1 decimal,
ACCT_744B2 decimal,
ACCT_744C decimal,
ACCT_085 decimal,
ACCT_086 decimal,
ACCT_087 decimal,
ACCT_782 decimal,
ACCT_783 decimal,
ACCT_784 decimal,
ACCT_796A decimal,
ACCT_796B decimal,
ACCT_796C decimal,
ACCT_796D decimal,
ACCT_796E decimal,
ACCT_797A decimal,
ACCT_797B decimal,
ACCT_797C decimal,
ACCT_797D decimal,
ACCT_797E decimal,
ACCT_799B decimal,
ACCT_799C decimal,
ACCT_799D decimal,
ACCT_840 decimal,
ACCT_875 decimal,
ACCT_877 decimal,
ACCT_945 decimal,
ACCT_801 decimal,
ACCT_614 decimal,
ACCT_615 decimal,
ACCT_745A decimal,
ACCT_745B decimal,
ACCT_745C decimal,
ACCT_745D decimal,
ACCT_745E decimal,
ACCT_819 decimal,
ACCT_867A decimal,
ACCT_867B1 decimal,
ACCT_867B2 decimal,
ACCT_867C decimal,
ACCT_925 decimal,
ACCT_841 decimal,
ACCT_465 decimal,
ACCT_466 decimal,
ACCT_767 decimal,
ACCT_768 decimal,
ACCT_918 decimal,
ACCT_919 decimal,
ACCT_026A decimal,
ACCT_026B decimal,
ACCT_027A decimal,
ACCT_027B decimal,
ACCT_028A decimal,
ACCT_028B decimal,
ACCT_045A decimal,
ACCT_045B decimal,
ACCT_585 varchar(255),
ACCT_680 decimal,
ACCT_681 decimal,
ACCT_682 decimal,
ACCT_769 decimal,
ACCT_785 decimal,
ACCT_786 decimal,
ACCT_787 decimal,
ACCT_892 decimal,
ACCT_895 decimal,
ACCT_896 decimal,
ACCT_899 decimal,
ACCT_020I decimal,
ACCT_021I decimal,
ACCT_022I decimal,
ACCT_023I decimal,
ACCT_041I decimal,
ACCT_550I decimal,
ACCT_551I decimal,
ACCT_981 decimal,
ACCT_981A decimal,
ACCT_981B decimal,
ACCT_065A1 decimal,
ACCT_065A2 decimal,
ACCT_065A3 decimal,
ACCT_065A4 decimal,
ACCT_065B1 decimal,
ACCT_065C1 decimal,
ACCT_065D1 decimal,
ACCT_065E1 decimal,
ACCT_067A1 decimal,
ACCT_067A2 decimal,
ACCT_067B1 decimal,
ACCT_067C1 decimal,
ACCT_068A decimal,
ACCT_069A decimal,
ACCT_033A decimal,
ACCT_033B decimal,
ACCT_033C decimal,
ACCT_033D decimal,
ACCT_033E decimal,
ACCT_034A decimal,
ACCT_034B decimal,
ACCT_034C decimal,
ACCT_034D decimal,
ACCT_034E decimal,
ACCT_035A decimal,
ACCT_035B decimal,
ACCT_035C decimal,
ACCT_035D decimal,
ACCT_035E decimal,
ACCT_897 decimal,
ACCT_898 decimal,

In [ ]:
for key in create_dict_.keys():
    print(create_dict_)

In [35]:
print(create_dict_['fs220B'])

create table fs220B (
ORDERS varchar(255),
CU_NUM_DATE varchar(255),
QUARTER varchar(255),
YEAR varchar(255),
CU_NUMBER varchar(255),
CYCLE_DATE varchar(255),
JOIN_NUMBER varchar(255),
ACCT_606A varchar(255),
ACCT_606B varchar(255),
ACCT_607 varchar(255),
ACCT_608 varchar(255),
ACCT_609 varchar(255),
ACCT_620 varchar(255),
ACCT_621 varchar(255),
ACCT_622 varchar(255),
ACCT_623 varchar(255),
ACCT_624 varchar(255),
ACCT_625 varchar(255),
ACCT_626 varchar(255),
ACCT_627 varchar(255),
ACCT_628 varchar(255),
ACCT_630A varchar(255),
ACCT_630B1 varchar(255),
ACCT_630B2 varchar(255),
ACCT_640 varchar(255),
ACCT_652C varchar(255),
ACCT_653A varchar(255),
ACCT_653B1 varchar(255),
ACCT_653B2 varchar(255),
ACCT_653C varchar(255),
ACCT_655C varchar(255),
ACCT_656A varchar(255),
ACCT_656B1 varchar(255),
ACCT_656B2 varchar(255),
ACCT_657A varchar(255),
ACCT_657B1 varchar(255),
ACCT_657B2 varchar(255),
ACCT_659 varchar(255),
ACCT_660 varchar(255),
ACCT_661 varchar(255),
ACCT_670A varchar(255),
ACCT_670B varchar(255),
ACCT_672C varchar(255),
ACCT_698 varchar(255),
ACCT_709 varchar(255),
ACCT_725 varchar(255),
ACCT_726 varchar(255),
ACCT_731 varchar(255),
ACCT_732 varchar(255),
ACCT_733 varchar(255),
ACCT_734 varchar(255),
ACCT_735 varchar(255),
ACCT_736 varchar(255),
ACCT_737 varchar(255),
ACCT_741C varchar(255),
ACCT_742C varchar(255),
ACCT_746C varchar(255),
ACCT_747A varchar(255),
ACCT_747B1 varchar(255),
ACCT_747B2 varchar(255),
ACCT_747C varchar(255),
ACCT_750C varchar(255),
ACCT_752 varchar(255),
ACCT_753 varchar(255),
ACCT_754 varchar(255),
ACCT_756 varchar(255),
ACCT_757 varchar(255),
ACCT_758 varchar(255),
ACCT_760A varchar(255),
ACCT_760B1 varchar(255),
ACCT_760B2 varchar(255),
ACCT_761A varchar(255),
ACCT_761B1 varchar(255),
ACCT_761B2 varchar(255),
ACCT_770 varchar(255),
ACCT_772 varchar(255),
ACCT_773 varchar(255),
ACCT_774 varchar(255),
ACCT_776 varchar(255),
ACCT_777 varchar(255),
ACCT_778 varchar(255),
ACCT_780 varchar(255),
ACCT_781 varchar(255),
ACCT_795 varchar(255),
ACCT_799 varchar(255),
ACCT_811 varchar(255),
ACCT_812 varchar(255),
ACCT_813 varchar(255),
ACCT_814 varchar(255),
ACCT_815 varchar(255),
ACCT_816 varchar(255),
ACCT_817 varchar(255),
ACCT_818 varchar(255),
ACCT_820 varchar(255),
ACCT_821 varchar(255),
ACCT_850 varchar(255),
ACCT_860A varchar(255),
ACCT_860B1 varchar(255),
ACCT_860B2 varchar(255),
ACCT_865 varchar(255),
ACCT_880A varchar(255),
ACCT_880B1 varchar(255),
ACCT_880B2 varchar(255),
ACCT_900 varchar(255),
ACCT_902A varchar(255),
ACCT_902B1 varchar(255),
ACCT_902B2 varchar(255),
ACCT_906B1 varchar(255),
ACCT_906B2 varchar(255),
ACCT_906C varchar(255),
ACCT_908B1 varchar(255),
ACCT_908B2 varchar(255),
ACCT_911A varchar(255),
ACCT_911B1 varchar(255),
ACCT_911B2 varchar(255),
ACCT_913 varchar(255),
ACCT_914 varchar(255),
ACCT_955 varchar(255),
ACCT_956 varchar(255),
ACCT_957 varchar(255),
ACCT_958 varchar(255),
ACCT_961 varchar(255),
ACCT_962 varchar(255),
ACCT_963 varchar(255),
ACCT_964 varchar(255),
ACCT_965 varchar(255),
ACCT_966 varchar(255),
ACCT_970 varchar(255),
ACCT_971 varchar(255),
ACCT_972 varchar(255),
ACCT_974 varchar(255),
ACCT_977 varchar(255),
ACCT_978 varchar(255),
ACCT_982 varchar(255),
ACCT_983 varchar(255),
ACCT_984 varchar(255),
ACCT_985 varchar(255),
ACCT_986 varchar(255),
ACCT_987 varchar(255),
ACCT_988 varchar(255),
ACCT_990 varchar(255),
ACCT_992 varchar(255),
ACCT_993 varchar(255),
ACCT_994 varchar(255),
ACCT_995 varchar(255),
ACCT_603 varchar(255),
ACCT_743C varchar(255),
ACCT_744A varchar(255),
ACCT_744B1 varchar(255),
ACCT_744B2 varchar(255),
ACCT_744C varchar(255),
ACCT_085 varchar(255),
ACCT_086 varchar(255),
ACCT_087 varchar(255),
ACCT_782 varchar(255),
ACCT_783 varchar(255),
ACCT_784 varchar(255),
ACCT_796A varchar(255),
ACCT_796B varchar(255),
ACCT_796C varchar(255),
ACCT_796D varchar(255),
ACCT_796E varchar(255),
ACCT_797A varchar(255),
ACCT_797B varchar(255),
ACCT_797C varchar(255),
ACCT_797D varchar(255),
ACCT_797E varchar(255),
ACCT_799B varchar(255),
ACCT_799C varchar(255),
ACCT_799D varchar(255),
ACCT_840 varchar(255),
ACCT_875 varchar(255),
ACCT_877 varchar(255),
ACCT_945 varchar(255),
ACCT_801 varchar(255),
ACCT_614 varchar(255),
ACCT_615 varchar(255),
ACCT_745A varchar(255),
ACCT_745B varchar(255),
ACCT_745C varchar(255),
ACCT_745D varchar(255),
ACCT_745E varchar(255),
ACCT_819 varchar(255),
ACCT_867A varchar(255),
ACCT_867B1 varchar(255),
ACCT_867B2 varchar(255),
ACCT_867C varchar(255),
ACCT_925 varchar(255),
ACCT_841 varchar(255),
ACCT_465 varchar(255),
ACCT_466 varchar(255),
ACCT_767 varchar(255),
ACCT_768 varchar(255),
ACCT_918 varchar(255),
ACCT_919 varchar(255),
ACCT_026A varchar(255),
ACCT_026B varchar(255),
ACCT_027A varchar(255),
ACCT_027B varchar(255),
ACCT_028A varchar(255),
ACCT_028B varchar(255),
ACCT_045A varchar(255),
ACCT_045B varchar(255),
ACCT_585 varchar(255),
ACCT_680 varchar(255),
ACCT_681 varchar(255),
ACCT_682 varchar(255),
ACCT_769 varchar(255),
ACCT_785 varchar(255),
ACCT_786 varchar(255),
ACCT_787 varchar(255),
ACCT_892 varchar(255),
ACCT_895 varchar(255),
ACCT_896 varchar(255),
ACCT_899 varchar(255),
ACCT_020I varchar(255),
ACCT_021I varchar(255),
ACCT_022I varchar(255),
ACCT_023I varchar(255),
ACCT_041I varchar(255),
ACCT_550I varchar(255),
ACCT_551I varchar(255),
ACCT_981 varchar(255),
ACCT_981A varchar(255),
ACCT_981B varchar(255),
ACCT_065A1 varchar(255),
ACCT_065A2 varchar(255),
ACCT_065A3 varchar(255),
ACCT_065A4 varchar(255),
ACCT_065B1 varchar(255),
ACCT_065C1 varchar(255),
ACCT_065D1 varchar(255),
ACCT_065E1 varchar(255),
ACCT_067A1 varchar(255),
ACCT_067A2 varchar(255),
ACCT_067B1 varchar(255),
ACCT_067C1 varchar(255),
ACCT_068A varchar(255),
ACCT_069A varchar(255),
ACCT_033A varchar(255),
ACCT_033B varchar(255),
ACCT_033C varchar(255),
ACCT_033D varchar(255),
ACCT_033E varchar(255),
ACCT_034A varchar(255),
ACCT_034B varchar(255),
ACCT_034C varchar(255),
ACCT_034D varchar(255),
ACCT_034E varchar(255),
ACCT_035A varchar(255),
ACCT_035B varchar(255),
ACCT_035C varchar(255),
ACCT_035D varchar(255),
ACCT_035E varchar(255),
ACCT_897 varchar(255),
ACCT_898 varchar(255));

In [60]:
iamrole='arn:aws:iam::886264772629:role/Arkatest' 
#@param iamrole - String representing auth to S3 bucket
#@param unique_endings- List , container with unique_endings for fs220 files 
#@return copy - List, a list of copy statements for redshift
def getCopyStatement(iamrole, unique_endings):
    copy=[]
    for ending in unique_endings:
        copy_statement= str("copy {} from's3://arkatestbucket/load/{}-csv.' credentials".format(ending, ending))
        copy_statement = copy_statement+iamrole
        copy_statement+=" csv IGNOREHEADER 1 null as " 
        copy_statement+= "'\\" 
        copy_statement+= "000';"
       # print(copy_statement)
       # break
        copy.append(copy_statement) 
    return copy

copyStatements = getCopyStatement(iamrole, unique_endings)
#@param _copyStatements, List of strings 
def writeList(statements, filename):
    thefile = open(filename, 'w')
    for item in statements:
      thefile.write("%s\n" % item)
    thefile.close()

In [ ]:
copy {} from's3://arkatestbucket/load/{}-csv.' \n credentialsarn:aws:iam::886264772629:role/Arkatest \n csv \n IGNOREHEADER 1 \n null as \x00;"

In [74]:
def readStatements(filename):
    file = open(filename,'r')
    content = []
    for l in file.readlines():
        contents.append(l)
    return content

In [61]:
import os
os.getcwd()

'C:\\Users\\Owner\\Documents\\PRACTICUM PROJECTS\\Arkatechture\\NCUS_csv\\fs_files_for_database_load'

In [ ]:
#file_to_read, unique_endings=getReadFiles()

In [ ]:
# file='fs220G-csv.201303_fs220G'
# file.split('.')[1][0:4]
# #file[15:17]

In [ ]:
#fs220 = createTable('C:/Users/Owner/Documents/Practicum Projects/Arkatechture/NCUS_csv/201706_fs220.csv')
# fs220a = createTable()
# fs220b = createTable("")
# fs220c = createTable("")
# fs220d = createTable("")
# fs220e = createTable("")

In [ ]:
# copy fs220 from 's3://arkatestbucket/load/fs220-csv.' 
# credentials 'aws_iam_role=arn:aws:iam::886264772629:role/Arkatest' 
# csv
# IGNOREHEADER 1;

In [28]:
from os import listdir
from os.path import isfile, join
import os
import csv
cuDirectory = "C:/Users/Owner/Documents/PRACTICUM PROJECTS/Arkatechture/FDIC_S3/FDIC_S3"

features = list()
tmp =0
lastName = ""
#Get all sub directories 
tablesFeatures = []
tablesTypes = []
for x in os.walk(cuDirectory):
    for file in x[2]:
        name = file[0:5]
        #Don't need to repeat a file
        if name == lastName:
            continue
        #Grab all features
        else: 
            features = []
            typeList = []
            with open(cuDirectory+"/"+file, 'r') as f:
                d_reader = csv.DictReader(f)
                #get fieldnames from DictReader object and store in list
                headers = d_reader.fieldnames
                for h in headers:
                    features.append(h)
                
                #Look at the first row for each header
                firstLine = True
                for row in d_reader:
                    if not firstLine:
                        for col in row:
                            typeList.append(getType(row[col]))
                    if not firstLine:
                        break
                    firstLine = False
                    
                
                
            tablesFeatures.append(features)
            tablesTypes.append(typeList)
        lastName = name

['decimal',
 'decimal',
 'decimal',
 'decimal',
 'decimal',
 'decimal',
 'decimal',
 'decimal',
 'varchar',
 'varchar',
 'varchar',
 'decimal',
 'varchar',
 'varchar',
 'varchar',
 'varchar',
 'varchar',
 'decimal',
 'decimal',
 'decimal',
 'decimal',
 'decimal',
 'varchar',
 'varchar',
 'varchar',
 'varchar',
 'varchar',
 'varchar',
 'varchar',
 'decimal',
 'decimal',
 'varchar',
 'varchar',
 'varchar',
 'varchar',
 'varchar',
 'varchar',
 'varchar',
 'varchar',
 'decimal',
 'decimal',
 'varchar',
 'decimal',
 'decimal',
 'decimal',
 'decimal',
 'decimal',
 'decimal',
 'decimal',
 'decimal',
 'decimal',
 'decimal',
 'decimal',
 'decimal',
 'decimal',
 'decimal',
 'decimal',
 'decimal',
 'decimal',
 'decimal',
 'decimal',
 'decimal',
 'decimal',
 'decimal',
 'decimal',
 'decimal',
 'decimal']

In [10]:
def getType(val):
    try:
        # Evaluates numbers to an appropriate type, and strings an error
        t = ast.literal_eval(val)
        #print(type(t))
    except ValueError:
       # print("val error")
        return 'varchar'
    except SyntaxError:
       # print('syntax error')
        return 'varchar'
    if type(t) in [int, float]:
        return 'decimal'
    else:
        return 'varchar'

In [52]:
createTales = []
for i in range(0,len(tablesFeatures)):
    statement = 'create table {} ( \n'
    for j in range(0,len(tablesFeatures[i])):
        varType = tablesTypes[i][j]
        featureName = tablesFeatures[i][j]
        
        
        if varType == 'varchar':
            statement = (statement + featureName.upper() +  ' varchar(255), \n')
        else:
            statement = (statement + featureName.upper() + " " + varType + ', \n')
    createTales.append(statement)

In [56]:
print(createTales[4])

create table {} (
ORDER decimal,
FED_RSSD_REPDTE decimal,
QUARTER decimal,
YEAR decimal,
CERT decimal,
DOCKET decimal,
FED_RSSD decimal,
RSSDHCR decimal,
NAME varchar(255),
CITY varchar(255),
STALP varchar(255),
ZIP decimal,
REPDTE varchar(255),
RUNDATE varchar(255),
BKCLASS varchar(255),
ADDRESS varchar(255),
NAMEHCR varchar(255),
OFFDOM decimal,
OFFFOR decimal,
STMULT decimal,
SPECGRP decimal,
SUBCHAPS decimal,
COUNTY varchar(255),
CBSA_METRO varchar(255),
CBSA_METRO_NAME varchar(255),
ESTYMD varchar(255),
INSDATE varchar(255),
EFFDATE varchar(255),
MUTUAL varchar(255),
PARCERT decimal,
TRUST decimal,
REGAGNT varchar(255),
INSAGNT1 varchar(255),
FDICDBS varchar(255),
FDICSUPV varchar(255),
FLDOFF varchar(255),
FED varchar(255),
OCCDIST varchar(255),
OTSREGNM varchar(255),
OFFOA decimal,
CB decimal,
INST.WEBADDR varchar(255),
P3ASSET decimal,
P3RE decimal,
P3RENUS varchar(255),
IDP3REDM decimal,
P3RECONS decimal,
P3RECNFM decimal,
P3RECNOT decimal,
P3REAG decimal,
P3RERES decimal,
P3REMULT decimal,
P3RENRES decimal,
P3RENROW decimal,
P3RENROT decimal,
P3REFOR varchar(255),
P3DEP decimal,
P3DEPNUS varchar(255),
P3AG varchar(255),
P3CI decimal,
P3CINUS varchar(255),
P3CON decimal,
P3CRCD decimal,
P3AUTO decimal,
P3CONOTH decimal,
P3FG decimal,
P3OTHLN decimal,
P3LS decimal,
P3SCDEBT decimal,
P3AGSM decimal,
P3LNSALE decimal,
P3GTYPAR decimal,
P3LTOT decimal,
P9ASSET decimal,
P9RE decimal,
P9RENUS varchar(255),
IDP9REDM decimal,
P9RECONS decimal,
P9RECNFM decimal,
P9RECNOT decimal,
P9REAG decimal,
P9RERES decimal,
P9REMULT decimal,
P9RENRES decimal,
P9RENROW decimal,
P9RENROT decimal,
P9REFOR varchar(255),
P9DEP decimal,
P9DEPNUS varchar(255),
P9AG varchar(255),
P9CI decimal,
P9CINUS varchar(255),
P9CON decimal,
P9CRCD decimal,
P9AUTO decimal,
P9CONOTH decimal,
P9FG decimal,
P9OTHLN decimal,
P9LS decimal,
P9SCDEBT decimal,
P9AGSM decimal,
P9LNSALE decimal,
P9GTYPAR decimal,
P9LTOT decimal,
NAASSET decimal,
NARE decimal,
NARENUS varchar(255),
IDNAREDM decimal,
NARECONS decimal,
NARECNFM decimal,
NARECNOT decimal,
NAREAG decimal,
NARERES decimal,
NAREMULT decimal,
NARENRES decimal,
NARENROW decimal,
NARENROT decimal,
NAREFOR varchar(255),
NADEP decimal,
NADEPNUS varchar(255),
NAAG varchar(255),
NACI decimal,
NACINUS varchar(255),
NACON decimal,
NACRCD decimal,
NAAUTO decimal,
NACONOTH decimal,
NAFG decimal,
NAOTHLN decimal,
NALS decimal,
NASCDEBT decimal,
NAAGSM decimal,
NALNSALE decimal,
NAGTYPAR decimal,
NALTOT decimal,

In [42]:
d = pd.read_csv('C:/Users/Owner/Documents/PRACTICUM PROJECTS/Arkatechture/FDIC_S3/FDIC_S3/Assets and Liabilities-csv.All_Reports_20121231_Assets and Liabilities.csv')

In [51]:
d.columns

Index(['ORDER', 'FED_RSSD_REPDTE', 'QUARTER', 'YEAR', 'CERT', 'DOCKET',
       'FED_RSSD', 'RSSDHCR', 'NAME', 'CITY', 'STALP', 'ZIP', 'REPDTE',
       'RUNDATE', 'BKCLASS', 'ADDRESS', 'NAMEHCR', 'OFFDOM', 'OFFFOR',
       'STMULT', 'SPECGRP', 'SUBCHAPS', 'COUNTY', 'CBSA_METRO',
       'CBSA_METRO_NAME', 'ESTYMD', 'INSDATE', 'EFFDATE', 'MUTUAL', 'PARCERT',
       'TRUST', 'REGAGNT', 'INSAGNT1', 'FDICDBS', 'FDICSUPV', 'FLDOFF', 'FED',
       'OCCDIST', 'OTSREGNM', 'OFFOA', 'CB', 'WEBADDR', 'NUMEMP', 'ASSET',
       'CHBAL', 'CHBALI', 'SC', 'FREPO', 'LNLSNET', 'LNATRES', 'TRADE',
       'BKPREM', 'ORE', 'INTAN', 'IDOA', 'LIABEQ', 'LIAB', 'DEP', 'DEPI',
       'DEPDOM', 'IDDEPINR', 'FREPP', 'TRADEL', 'IDOBRMTG', 'SUBND', 'IDOLIAB',
       'EQTOT', 'EQ', 'EQPP', 'EQCS', 'EQSUR', 'EQUPTOT', 'EQCONSUB', 'NCLNLS',
       'NCGTYPAR', 'OAIENC', 'ERNAST', 'ASSTLT', 'ASSET5', 'ASSET2', 'RWAJT',
       'AVASSETJ', 'OALIFINS', 'OALIFGEN', 'OALIFSEP', 'OALIFHYB', 'VOLIAB',
       'LNEXAMT', 'OTHBFHLB', 'LNLSSALE', 'UCLN', 'RBCT1J', 'RBCT2', 'UC',
       'OBSDIR'],
      dtype='object')

In [46]:
lst = tablesFeatures[1]

In [47]:
for i in range(0,len(csv)):
    if lst[i] != csv[i]:
        print("Ypu messed uo")

In [64]:
print(createTales[4])

create table {} (
ORDER decimal,
FED_RSSD_REPDTE decimal,
QUARTER decimal,
YEAR decimal,
CERT decimal,
DOCKET decimal,
FED_RSSD decimal,
RSSDHCR decimal,
NAME varchar(255),
CITY varchar(255),
STALP varchar(255),
ZIP decimal,
REPDTE varchar(255),
RUNDATE varchar(255),
BKCLASS varchar(255),
ADDRESS varchar(255),
NAMEHCR varchar(255),
OFFDOM decimal,
OFFFOR decimal,
STMULT decimal,
SPECGRP decimal,
SUBCHAPS decimal,
COUNTY varchar(255),
CBSA_METRO varchar(255),
CBSA_METRO_NAME varchar(255),
ESTYMD varchar(255),
INSDATE varchar(255),
EFFDATE varchar(255),
MUTUAL varchar(255),
PARCERT decimal,
TRUST decimal,
REGAGNT varchar(255),
INSAGNT1 varchar(255),
FDICDBS varchar(255),
FDICSUPV varchar(255),
FLDOFF varchar(255),
FED varchar(255),
OCCDIST varchar(255),
OTSREGNM varchar(255),
OFFOA decimal,
CB decimal,
INST.WEBADDR varchar(255),
P3ASSET decimal,
P3RE decimal,
P3RENUS varchar(255),
IDP3REDM decimal,
P3RECONS decimal,
P3RECNFM decimal,
P3RECNOT decimal,
P3REAG decimal,
P3RERES decimal,
P3REMULT decimal,
P3RENRES decimal,
P3RENROW decimal,
P3RENROT decimal,
P3REFOR varchar(255),
P3DEP decimal,
P3DEPNUS varchar(255),
P3AG varchar(255),
P3CI decimal,
P3CINUS varchar(255),
P3CON decimal,
P3CRCD decimal,
P3AUTO decimal,
P3CONOTH decimal,
P3FG decimal,
P3OTHLN decimal,
P3LS decimal,
P3SCDEBT decimal,
P3AGSM decimal,
P3LNSALE decimal,
P3GTYPAR decimal,
P3LTOT decimal,
P9ASSET decimal,
P9RE decimal,
P9RENUS varchar(255),
IDP9REDM decimal,
P9RECONS decimal,
P9RECNFM decimal,
P9RECNOT decimal,
P9REAG decimal,
P9RERES decimal,
P9REMULT decimal,
P9RENRES decimal,
P9RENROW decimal,
P9RENROT decimal,
P9REFOR varchar(255),
P9DEP decimal,
P9DEPNUS varchar(255),
P9AG varchar(255),
P9CI decimal,
P9CINUS varchar(255),
P9CON decimal,
P9CRCD decimal,
P9AUTO decimal,
P9CONOTH decimal,
P9FG decimal,
P9OTHLN decimal,
P9LS decimal,
P9SCDEBT decimal,
P9AGSM decimal,
P9LNSALE decimal,
P9GTYPAR decimal,
P9LTOT decimal,
NAASSET decimal,
NARE decimal,
NARENUS varchar(255),
IDNAREDM decimal,
NARECONS decimal,
NARECNFM decimal,
NARECNOT decimal,
NAREAG decimal,
NARERES decimal,
NAREMULT decimal,
NARENRES decimal,
NARENROW decimal,
NARENROT decimal,
NAREFOR varchar(255),
NADEP decimal,
NADEPNUS varchar(255),
NAAG varchar(255),
NACI decimal,
NACINUS varchar(255),
NACON decimal,
NACRCD decimal,
NAAUTO decimal,
NACONOTH decimal,
NAFG decimal,
NAOTHLN decimal,
NALS decimal,
NASCDEBT decimal,
NAAGSM decimal,
NALNSALE decimal,
NAGTYPAR decimal,
NALTOT decimal,

In [58]:
from os import listdir
from os.path import isfile, join
import os
import csv
cuDirectory = "C:/Users/Owner/Documents/PRACTICUM PROJECTS/Arkatechture/FDIC_S3/FDIC_S3"

features = list()
tmp =0
lastName = ""
#Get all sub directories 
tablesFeatures = []
tablesTypes = []
for x in os.walk(cuDirectory):
    for file in x[2]:
         with open(cuDirectory+"/"+file, 'r') as f:
                d_reader = csv.DictReader(f)
                #get fieldnames from DictReader object and store in list
                headers = d_reader.fieldnames
                for i in range(0,len(headers)):
                    if(headers[i].upper() == "ORDER"):
                        headers[i] = "ORDERS"
                    if(headers[i].upper() == "INST.WEBADDAR"):
                        headers[i] = "INSTWEBADDAR"
                d_reader.fieldnames = headers
                d_reader